{% extends 'website/base_viz.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
	<link rel="stylesheet" href={% static "website/css/history.css" %}>
{% endblock %}

{% block content %}
	<span id="article_id" style="display:none;">{{ article.id }}</span>
	<span id="article_url" style="display:none;">{{ article.url }}</span>
	<section class="container text-center" style="padding-top: 150px;">
	        <div class="row">
	        	
	        	<h1>{% trans "Edit History" %}</h1>
	        	<BR>
	        		<BR>

	        	<table>
	        		<tr>
	        			<td>{% trans "Action" %}</td>
	        			<td>{% trans "User" %}</td>
	        			<td>{% trans "Time" %}</td>
	        			<td>{% trans "From" %}</td>
	        			<td>{% trans "To" %}</td>
	        			<td>{% trans "Explanation" %}</td>
	        			<td>{% trans "Words Shown" %}</td>
	        			<td>{% trans "Percent Complete" %}</td>
	        		</tr>
	            {% for h in history %}
	            	<tr>
	            	{% if h.action == "hide_comment" %}
	            		<td>{% trans "Hide Comment" %}</td>
	            	{% elif h.action == "sum_comment" %}
	            		<td>{% trans "Summarize Comment" %}</td>
	            	{% elif h.action == "reply_comment" %}
	            		<td>{% trans "Reply to Comment" %}</td>
	            	{% elif h.action == "new_node" %}
	            		<td>{% trans "New Comment" %}</td>
	            	{% elif h.action == "edit_sum" %}
	            		<td>{% trans "Edit Summary of a Comment" %}</td>
	            	{% elif h.action == "hide_replies" %}
	            		<td>{% trans "Hide All Replies of a Comment" %}</td>
	            	{% elif h.action == "hide_comments" %}
	            		<td>{% trans "Hide Multiple Comments" %}</td>
	            	{% elif h.action == "sum_nodes" %}
	            		<td>{% trans "Summarize Subtree" %}</td>
	            	{% elif h.action == "sum_selected" %}
	            		<td>{% trans "Summarize Group of Comments" %}</td>
	            	{% elif h.action == "edit_sum_nodes" %}
	            		<td>{% trans "Edit Summary of Subtree" %}</td>
	            	{% elif h.action == "move_comment" %}
	            		<td>{% trans "Move Comment" %}</td>
	            	{% elif h.action == "tag_comment" %}
	            		<td>{% trans "Tag Comment" %}</td>
	            	{% elif h.action == "tag_comments" %}
	            		<td>{% trans "Tag Comments" %}</td>
	            	{% elif h.action == "rate_comment" %}
	            		<td>Evaluate Summary</td>
	            	{% elif h.action == "delete_comment_sum" %}
	            		<td>Delete Summary of a Comment</td>
	            	{% elif h.action == "delete_sum" %}
	            		<td>Delete Summary Node</td>
	            	{% elif h.action == "delete_node" %}
	            		<td>Promote Summary</td>	
	            	{% elif h.action == "delete_tag" %}
	            		<td>Delete Tag</td>
	            	{% endif %}
	            	
	            	{% if h.user %}
	            		<td>{{ h.user.username }}</td>
	            	{% else %}
	            		<td>{% trans "Anonymous" %}</td>
	            	{% endif %}
	            	
	            	<td>
	            		{{ h.datetime }}
	            	</td>
	            	
	            	<td>
	            		{% if h.action == "edit_sum" or h.action == "edit_sum_nodes" or h.action == "move_comment" or h.action == "delete_sum" %}
	            			{{ h.from_str }}
	            		{% else %}
		            		<div class="comments">
		            		{% for c in h.comments.all %}
		            			<div class="comment">
		            			  {% autoescape off %}
								  {{ c.text }}
								  {% endautoescape %}
							    </div>
							{% endfor %}
							</div>
						{% endif %}
	            	</td>
	            	
	            	<td>{% if h.action == "hide_comment" %}
	            			{% trans "Comment Hidden" %}
	            		{% elif h.action == "delete_sum" %}
						    {% trans "Summary Deleted" %}
	            		{% elif h.action == "hide_replies" %}
						    {% trans "All Comments Hidden" %}
	            		{% elif h.action == "hide_comments" %}
							{% trans "All Comments Hidden" %}
	            		{% else %}
	            			{{ h.to_str }}
						{% endif %} 
					</td>
	            	<td>
	            		{{ h.explanation }}
	            	</td>
					<td>
	            		{{ h.words_shown }}
	            	</td>
	            	<td>
	            		{{ h.current_percent_complete }}%
	            	</td>	            	
	            	</tr>
	            {% endfor %}
	           </table>
	        </div>
	</section>

{% endblock %}


{% block scripts %}

<script>

		function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
	
		var article_url = $('#article_url').text();
		var owner = getParameterByName('owner');
		article_url = article_url.replace('#','%23');
		var article_id = $('#article_id').text();
		
		var num = parseInt(getParameterByName('num'));
		if (!num) {
			num = 0;
		}
		
  
	  $('#menu-view').children().eq(3).css({'background-color': '#42dca3'});
	  $('#menu-view').children().eq(3).addClass('disabled-menu');
	  
	  $('#menu-view').children().eq(3).children().first().on('click', function() {
		    return false;
		});
	
	 $('#menu-view').children().eq(0).children().first().attr('href', `/visualization_flags?id=${article_id}&owner=${owner}`);
	 $('#menu-view').children().eq(1).children().first().attr('href', `/subtree?id=${article_id}&owner=${owner}`);
	 $('#menu-view').children().eq(2).children().first().attr('href', `/cluster?id=${article_id}&owner=${owner}`);
	 $('#menu-view').children().eq(3).children().first().attr('href', `/history?id=${article_id}&owner=${owner}`);
	  
	 $('#menu-sort').parent().html('');
  
	</script>

{% endblock %}
