{% extends 'website/base.html' %}
{% load staticfiles %}

{% block styles %}
{% endblock %}


{% block content %}

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Wikum</h1>
                        
                        
                        <p class="intro-text">Summarize long comment threads.
                        	<br>
                        	
                        	<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    View an existing discussion
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							  	
							  	{% for a in articles %}
							    	<li><a href="/summary?article={{ a.url }}&num={{ a.num }}">{{a.source.source_name}}: {{ a.title }}</a></li>
								{% endfor %}
							  </ul>
							</div>
                        </P>
                        
                    	<P>
						   <form>
						  <div class="form-group">
						    <input type="url" class="form-control" id="articleUrl" placeholder="Or import a new discussion by pasting an Atlantic article url or Reddit page here.">
						  </div>
						  </form>
						</p>
						  
					  	<div id="message" style="display: block; height:40px;">
					  	</div>
     
                
                		<div class="progress_container">
					   		<div class="status"></div>
					   		
					   		<div class="result">
					   		</div>
					  	</div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Wikum</h2>
                <p>Wikum is a tool for summarizing and exploring long comment threads.
                </p>
                
				<h4>Wikum: Bridging Discussion Forums and Wikis using Recursive Summarization</h4>
<P>
Large-scale discussions between many participants abound on the internet today, on topics ranging from political arguments to 
group coordination. But as these discussions grow to tens of thousands of posts, they become ever more difficult for a reader to digest.
In this article, we describe a workflow called <i>recursive summarization</i>, implemented in our <i>Wikum</i> prototype, that enables 
a large population of readers or editors to work in small doses to refine out the main points of the discussion.  More than just a 
single summary, our workflow produces a <i>summary tree</i> that enables a reader to explore distinct subtopics at multiple levels 
of detail based on their interests.
</P>
									<br>
									<br>
										
							
											Wikum: Bridging Discussion Forums and Wikis using Recursive Summarization. 
											Amy X. Zhang, Lea Verou, David Karger.
											<i>CSCW '17</i>. 
											<br>
									[<a href="papers/wikum.pdf">pdf</a>]
                
                
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us</h2>
                <p><a href="mailto:axz@mit.edu">axz@mit.edu</a>
                </p>
                
                <p><a href="mailto:karger@mit.edu">karger@mit.edu</a>
                </p>
                
                <ul class="list-inline banner-social-buttons">
                    <!--<li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                                       <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                   -->
                    <li>
                        <a href="https://github.com/amyxzhang/wikum" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </section>

{% endblock %}


{% block scripts %}

<script>
	var PollState = function(task_id) {
		$.ajax({
 			url: "poll_status",
 			type: "POST",
 			data: "task_id=" + task_id,
		}).done(function(task){
 			console.log(task);
 			if (task.state == 'PROGRESS') {
 				if (task.result) {
  					$('.result').html(task.result.count + ' comments ingested.');
  				}
  				setTimeout(PollState(task_id), 3000);
 			} else if (task.state == 'PENDING') {
 				setTimeout(PollState(task_id), 3000);
 			} else {
 				$('#message').text('');
 				if (task.state == 'SUCCESS') {
 					var article = $('#articleUrl').val();
 					article = article.replace('#', '%23');
  					$('.status').html(task.state + '! <a href="/summary?article=' + article + '"><button class="btn btn-success btn-sm">View comments</button></a>');
  				} else {
  					$('.status').html(task.state + ' - ' + task.result);
  				}
 			};
		});
	};
	</script>


    <script>
		$('#articleUrl').keydown(function(event){ 
		    var keyCode = (event.keyCode ? event.keyCode : event.which);   
		    if (keyCode == 13) {
		    	var article = $('#articleUrl').val();
				$.ajax({
					url: "import_article",
					data: {
						'article': article,
					},
					success: function(res){
						console.log(res);
						$('.status').text('');
						$('.result').text('');
						$('#message').text('Wikum is now importing all the comments in the discussion. This may take a while as we are rate-limited by APIs.' + 
						' You can wait or come back later to find the article in the dropdown menu above.');
					   	PollState(res);
					}
				});
				return false;
		    }
		});
    </script>





{% endblock %}
