
{% extends 'website/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block styles %}
{% endblock %}


{% block content %}




<section id="intro" class="intro-section">
	
		<div class="section-inner-intro xs-section-align sm-section-align">
	
	
			<!--container-->
				<!--Screenshots-->
	
	
					<section id="scennshots" class="padd-section">
	
					<!--container-->
						<div class="container">
						<div class="row">
	
							<!-- Start title-section -->
							<div class="row-centered white-text">
								<div class="col-md-3 col-sm-3 col-xs-4  col-centered">
	
									<img src="static/website/assets/img/logo.png" class="img-responsive" title="" alt="">
									</div>
								</div>
	
	
								<!-- End title-section -->
	
							</div>
						</div>
	
					<div class="container ">
						<div class="row">
							<!-- Start title-section -->
							<div class="row-centered white-text">
								<div class="col-md-7 col-sm-7 col-xs-7 col-centered">
									<h1 class="section-title text-center white-text"> </h1>
									<p>
										Summarize large discussion threads.
	</p>
									</div>
								</div>
								<!-- End title-section -->
							</div>
						</div>
					</section>
					<!--End Scrennshots-->
			</div>
	
			<!--container-->
		</section>
	
		<!--End intro-->



										
<!--Intro-->

<section id="intro" class="intro-section">
		
			<div class="section-inner-intro-one xs-section-align sm-section-align">
		
		
				<!--container-->
				<div class="container">
					<div class="row">
		
		
						<div class="intro-section-content">
		
							<div class="col-sm-7 col-md-7">
		
								<img src="static/website/assets/img/tree.png" class="img-responsive " title="" alt="">
		
							</div>
		
		
							<div class="col-sm-3 col-md-3 col-md-offset-1 text-inner">
								<div class="text-section">
									
									
									<h1>Summarize with Wikum</h1>
		
									<p>By harnessing the power of people backed by state-of-the-art human-computer interaction and machine learning techniques, 
										users get complete control over the collaborative summarization process. 
		</p>
										
									</div>
		
								</div>
							</div>
		
						</div>
					</div>
				</div>
		
				<!--container-->
			</section>
		
			<!--End intro-->
		<!--About-->



		<section id="about" class="padd-section bg-color-section">
				
				
													<!--container-->
				
													<div class="container how-container">
														<div class="row">
				
				
															<div class="col-xs-12 col-sm-6 col-md-6">
				
																<!-- Start title-section -->
																<div class="section-header">
																	<h2 class="section-title text-left margin-40">How does it work?</h2>
																</div>
																<!-- End title-section -->
				
																<div class="tabs-inner">
				
																	<!-- Nav tabs -->
																	<ul class="nav nav-tabs" role="tablist">
																		<li class="active"><a href="#tab1" role="tab" data-toggle="tab">Select</a></li>
																		<li><a href="#tab2" role="tab" data-toggle="tab">Summarize </a></li>
				
																		<li><a href="#tab3" role="tab" data-toggle="tab">Moderate</a></li>
				
																	</ul>
				
																	<!-- Tab panes -->
																	<div class="tab-content">
																		<div class="tab-pane active" id="tab1">
				
																			<h3>Select</h3>
				
																			<span class="number-tabs">01</span>
				
																			<p>
																					Through Wikum's easy-to-navigate tree structure, you can easily get a 
																					snapshot of the various comments, replies, and existing summaries of 
																					the entire discussion thread and then select the discussion level at
																					which you want read or summarize.   
																			</p>
				
				
																		</div>
				
				
																		<div class="tab-pane" id="tab2">
				
																			<h3>Summarize</h3>
				
																			<span class="number-tabs">02</span>
				
																			<p>
																					
																					After selecting a thread, you can, while write your own summaries, add tags, 
																					see highlighted important sentences, and add citations to existing content.
																					
																			</p>
				
				
																		</div>
				
				
																		<div class="tab-pane" id="tab3">
				
																			<h3>Moderate</h3>
				
																			<span class="number-tabs">03</span>
				
																			<p>
																					With the ability to vote on summaries or flag summaries that are inappropriate, 
																					Wikum empowers the community to moderate the entire ecosystem and ensure that only the best quality summaries remains. 
																			</p>
				
				
																		</div>
				
																	</div>
				
																</div>
				
															</div>
															<div class="col-xs-12 col-md-6 col-sm-6">
				
																<div class="phone-screen hidden-xs">
																	<img class="phone-beyond wow fadeInLeft" src="static/website/assets/img/B.png" data-wow-delay=".8s" alt=""
																	title="">
																</div>
				
															</div>
				
														</div>
				
														<!--container-->
				
													</div>
				
												</section>
												<!--End About-->

			<!--Features-->
	
			<section id="features" class="padd-section ">
					
							<!--container-->
					
							<div class="container">
								<div class="row">
									<!-- Start title-section -->
									<div class="section-header text-center">
										<div class="row-centered">
											<div class="col-md-6 col-xs-12 col-sm-6 col-centered">
					
												<h2 class="section-title text-center">Features</h2>
												
															</div>
															</div>
															<div class="row">
					
															 <div class="col-xs-12 col-md-6 col-sm-6">
					
																<div class="phone-screen">
																	<img class="phone-above app-phone-2 wow fadeInLeft" src="static/website/assets/img/C.png" data-wow-delay=".4s" alt=""
																	title="">
					
																</div>
					
															</div>
					
					
															<div class="col-xs-12 col-sm-6 col-md-6">
					 
																<div class="row">
																	<div class="col-md-6 col-sm-6 col-xs-12">
																		<div class="icon-box">
					
																			<div class="icon-box-content">
																			   <h3>Tags</h3>
																			   <p>By adding auto-suggested or user-generated tags, the comments can be  grouped together for further action. </p>
																		   </div>
																	   </div>
																   </div>
																   <div class="col-md-6 col-sm-6 col-xs-12">
																	<div class="icon-box">
					
																		<div class="icon-box-content">
																		   <h3>Flags</h3>
																		   <p>Flags empower users to moderate the lower quality or malicious summaries that don't follow community guidelines.  </p>
																	   </div>
																   </div>
															   </div>
					
															   <div class="col-md-6 col-sm-6 col-xs-12">
																<div class="icon-box">
					
					
					
																	<div class="icon-box-content">
																	   <h3>Edit</h3>
																	   <p>From a wiki philosophy, Wikum lets the user edit any existing summaries to make them better.  </p>
																   </div>
					
															   </div>
					
					
														   </div>
					
														   <div class="col-md-6 col-sm-6 col-xs-12">
															<div class="icon-box">
					
					
					
																<div class="icon-box-content">
																   <h3>History</h3>
																   <p>Wikum keeps a log of all edits so that the community can keep a record of all activities. </p>
															   </div>
					
														   </div>
					
					
													   </div>
												   </div>
					
					
					
					
					
											   </div>
					
					
										   </div>
					
										   <!--container-->
					
									   </div>
					
								   </section>
								   <!--End ABOUT OUR APP-->		
			
			

    <!-- Intro Header -->
    <header class="intro" >
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                    
                    	<P>
                    		<BR>
                    			<BR>
                    				
                    				<h3>Get Started - Import or Explore</h3>
                    				
                    				{% if user.is_authenticated %}
                    					<a class="btn btn-default btn-lg" data-toggle="modal" data-target="#createWikumModal">+ {% trans "Import Discussion" %}</a>
                    				{% else %}
			                    		<a href="/account/login" class="btn btn-default btn-lg">{% trans "Login" %}</a> 
			                    		<a href="/account/signup" class="btn btn-default btn-lg">{% trans "Sign Up" %}</a> 
			                    		<a class="btn btn-default btn-lg" data-toggle="modal" data-target="#createWikumModal">+ {% trans "Import Discussion" %}</a>
			                    	
			                    	{% endif %}

                    		<BR>
                    		<BR>
                    		<div>
                    		
                    		
                    		<ul id="post-list-table">
                    			<li class="first-row-item">
                    				<div class="first-blurb">
							  					<span class="percent">
								  					
								  						{% if sort == "-percent_complete" %}
								  							<strong>
								  								<a href="\?sort=percent_complete">% {% trans "Done" %}</a>
								  							</strong>
								  						{% elif sort == "percent_complete" %}
								  							<strong>
								  								<a href="\?sort=-percent_complete">% {% trans "Done" %}</a>
								  							</strong>
								  						{% else %}
								  							<a href="\?sort=-percent_complete">% {% trans "Done" %}</a>
								  						{% endif %}
								  					
								  				</span>
								  				<span class="source">
								  					{% if sort == "source" %}
								  						<strong>
								  							<a href="\?sort=-source">  {% trans "Source" %} </a>
								  						</strong>
								  					{% elif sort == "-source" %}
								  						<strong>
								  							<a href="\?sort=source"> {% trans "Source" %}  </a>
								  						</strong>
								  					{% else %}
								  						<a href="\?sort=source">{% trans "Source" %} </a>
								  					{% endif %}
								  				</span>
								  				<span class="owner">
								  					{% if sort == "owner" %}
								  						<strong>
								  							<a href="\?sort=-owner">Owner</a>
								  						</strong>
								  					{% elif sort == "-owner" %}
								  						<strong>
								  							<a href="\?sort=owner">Owner</a>
								  						</strong>
								  					{% else %}
								  						<a href="\?sort=owner">Owner</a>
								  					{% endif %}
								  				</span>
												<span class="ellipsis">
													{% if sort == "title" %}
														<strong>
													 		<a href="\?sort=-title">{% trans "Discussion" %}</a>
													 	</strong>
													{% elif sort == "-title" %}
														<strong> 
															<a href="\?sort=title">{% trans "Discussion" %}</a>
														</strong>
													{% else %}
													 	<a href="\?sort=title">{% trans "Discussion" %}</a>
													{% endif %}
												</span>
												<span class="right-side">
													<span class="comment_num" style="position: relative; left: -30px">
														{% if sort == "-comment_num" %}
															<strong>
								  								<a href="\?sort=comment_num">{% trans "Comments" %}</a>
								  							</strong>
								  						{% elif sort == "comment_num" %}
								  							<strong>
								  								<a href="\?sort=-comment_num">{% trans "Comments" %}</a>
								  							</strong>
								  						{% else %}
								  							<a href="\?sort=-comment_num">{% trans "Comments" %}</a>
								  						{% endif %}
								  					</span>
								  					<span class="summary_num">
								  						{% if sort == "-summary_num" %}
								  							<strong>
								  								<a href="\?sort=summary_num">{% trans "Summaries" %}</a>
								  							</strong>
								  						{% elif sort == "summary_num" %}
								  							<strong>
								  								<a href="\?sort=summary_num">{% trans "Summaries" %}</a>
								  							</strong>
								  						{% else %}
								  							<a href="\?sort=-summary_num">{% trans "Summaries" %}</a>
								  						{% endif %}
								  					</span>
								  				</span>
											</div>
										</li>
								
                    				
							  	{% for a in articles %}
							  	<a href="/visualization_upvotes?article={{ a.url }}&num={{ a.num }}&owner={{ a.owner }}">								
							  		<li class="row-item">
							  			<progress value="{{ a.percent_complete }}" max="100"></progress>
							  			
							  				<div class="blurb">
							  					
							  					<span class="percent">
							  						
							  						{% if sort == "percent_complete" or sort == "-percent_complete" %}
									  					<strong>
									  						{{ a.percent_complete }}%
									  					</strong>
									  				{% else %}
									  						{{ a.percent_complete }}%
									  				{% endif %}
								  				</span>
								  				<span class="source">
								  					{% if sort == "source" or sort == "-source" %}
								  						<strong>
								  							{{a.source.source_name}}
								  						</strong>
								  					{% else %}
								  						{{a.source.source_name}}
								  					{% endif %}
								  				</span>
								  				<span class="owner">
								  					{% if sort == "owner" or sort == "-owner" %}
								  						<strong>
								  							{% if a.owner == user %}
								  								me
								  							{% else %}
								  								{{a.owner}}
								  							{% endif %}
								  						</strong>
								  					{% else %}
								  						{% if a.owner == user %}
								  								me
								  							{% else %}
								  								{{a.owner}}
								  							{% endif %}
								  					{% endif %}
								  				</span>
												<span class="ellipsis">
													{{ a.title }}
												</span>
												<span class="right-side">
													<span class="comment_num">
														{% if sort == "comment_num" or sort == "-comment_num" %}
															<strong>
								  								{{ a.comment_num }}
								  							</strong>
								  						{% else %}
								  							{{ a.comment_num }}
								  						{% endif %}
								  					</span>
								  					<span class="summary_num">
								  						{% if sort == "summary_num" or sort == "-summary_num" %}
															<strong>
								  								{{ a.summary_num }}
								  							</strong>
								  						{% else %}
								  							{{ a.summary_num }}
								  						{% endif %}
								  					</span>
								  				</span>
												
												
											</div>
				
										</li>
									</a>
								{% endfor %}
							 
							 	</ul>
							 </div>
               
						</p>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Research about Wikum</h2>
				<P>
					{% trans "Wikum: Bridging Discussion Forums and Wikis using Recursive Summarization. Amy X. Zhang, Lea Verou, David Karger." %}
				<i>CSCW '17</i>. 
				<br>
				[<a href="http://people.csail.mit.edu/axz/papers/wikum.pdf">pdf</a>][<a href="http://people.csail.mit.edu/axz/wikum">{% trans "slides and talk" %}</a>]
            </p>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{% trans "Contact Us" %}</h2>
                
       
					<a href="http://people.csail.mit.edu/axz">
					<img src="/static/website/img/amy.jpg" class="img-circle" width="150">
					</a>
					<br>
						<a href="https://twitter.com/amyxzh"><img src="/static/website/img/twitter.png" width="35">@amyxzh</a>
					<br>
						<a href="mailto:axz@mit.edu">
							axz@mit.edu
						</a>
					
			<BR><BR>
					<a href="http://people.csail.mit.edu/karger">
					<img src="/static/website/img/karger.png" class="img-circle" width="150">
					</a>
					<br>
						<a href="https://twitter.com/karger"><img src="/static/website/img/twitter.png" width="35">@karger</a>
					<br>
						<a href="mailto:karger@mit.edu">
							karger@mit.edu
						</a>
					
			<BR><BR>
                
                
                <ul class="list-inline banner-social-buttons">
                    <!--<li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                                       <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                   -->
                    <li>
                        <a href="https://github.com/amyxzhang/wikum" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    
    
<!-- Modal -->
<div id="createWikumModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans "Import a Discussion" %}</h4>
      </div>
      <div class="modal-body">
      	
			{% trans "Import a new discussion by pasting an Atlantic article url, Reddit page url, or Wikipedia Talk page section url here." %}
        
		   <form>
		  <div class="form-group">
		  	
		    <input type="url" class="form-control" id="articleUrl" placeholder="">
		 	<BR>
		 	<button type="button" class="btn btn-default" id="submiturl">{% trans "Submit" %}</button>
		 
		  </div>
		  </form>
		  
	  	<div id="message" style="display: block; height:40px;">
	  	</div>
 
            
          <div class="progress_container" style="display: block; height: 70px;">
	   		<div class="status" style="display: block; height: 30px;">
	   			
	   		</div>
	   		
	   		<div class="result" style="display: block; height: 30px;">
	   		</div>
	  	</div>
        
        
      </div>
    </div>

  </div>
</div>

{% endblock %}


{% block scripts %}

<script>
	var PollState = function(task_id) {
		$.ajax({
 			url: "poll_status",
 			type: "POST",
 			data: "task_id=" + task_id,
		}).done(function(task){
 			console.log(task);
 			if (task.state == 'PROGRESS') {
 				if (task.result) {
  					$('.result').html('Status: ' + task.result.count + ' comments ingested.');
	  			} else{
	  				$('.result').html('Status: In progress...');
	  			}
  				setTimeout(PollState(task_id), 3000);
 			} else if (task.state == 'PENDING') {
 				$('.result').html('Status: Pending...');
 				setTimeout(PollState(task_id), 3000);
 			} else {
 				$('#message').text('');
 				if (task.state == 'SUCCESS') {
 					var article = $('#articleUrl').val();
 					article = article.replace('#', '%23').replace('&', '%26');
 					var owner = $('#owner').text();
 					if (!owner) {
 						owner = "None";
 					}
  					$('.status').html(task.state + '!  <a href="/visualization_upvotes?article=' + article + '&owner=' + owner + '"><button class="btn btn-default btn-sm">View comments</button></a>');
  				} else {
  					$('.status').html(task.state + ' - ' + task.result);
  				}
 			};
		});
	};
	</script>


    <script>
    
    	function submiturl() {
    		var article = $('#articleUrl').val();
    		var owner = $('#owner').text();
			if (!owner) {
				owner = "None";
			}
			$.ajax({
				url: "import_article",
				data: {
					'article': article,
					'owner': owner,
				},
				success: function(res){
					console.log(res);
					$('.status').text('');
					$('.result').text('');
					$('#message').text('Wikum is now importing all the comments in the discussion. This may take a while as we are rate-limited by APIs.' + 
					' You can wait or come back later to find the article on the main page.');
				   	PollState(res);
				}
			});
    	}
    
    	$('#submiturl').click(function(event) {
    		submiturl();
    		return false;
    	});
    
		$('#articleUrl').keydown(function(event){ 
		    var keyCode = (event.keyCode ? event.keyCode : event.which);   
		    if (keyCode == 13) {
		    	submiturl();
				return false;
		    }
		});
		
		
    </script>





{% endblock %}
