
{% extends 'website/base_landing.html' %}
{% load i18n %}
{% load static %}
{% load websitefilters %}


{% block styles %}
{% endblock %}


{% block content %}


<section id="intro" class="intro-section">
		
		<div class="section-inner-intro xs-section-align sm-section-align">
	
	
			<!--container-->
				<!--Screenshots-->
	
	
					<section id="scennshots" class="padd-section">
	
					<!--container-->
						<div class="container">
						<div class="row">
	
							<!-- Start title-section -->
							<div class="row-centered white-text">
								<div class="col-md-3 col-sm-3 col-xs-4  col-centered">
	
									<img src={% static "website/assets/img/logo.png" %} class="img-responsive" title="" alt="">
									</div>
								</div>
	
	
								<!-- End title-section -->
	
							</div>
						</div>
	
					<div class="container ">
						<div class="row">
							<!-- Start title-section -->
							<div class="row-centered white-text">
								<div class="col-md-7 col-sm-7 col-xs-7 col-centered">
									<h1 class="section-title text-center white-text"> </h1>
									<h3>
										Summarize large discussion threads.</h3>
									</div>
								</div>
								<!-- End title-section -->
							</div>
						</div>
					</section>
					<!--End Scrennshots-->
			</div>
	
			<!--container-->
		</section>
	
		<!--End intro-->



										
<!--Intro-->

<section id="intro" class="intro-section">
		
			<div class="section-inner-intro-one xs-section-align sm-section-align">
		
		
				<!--container-->
				<div class="container">
					<div class="row">
		
		
						<div class="intro-section-content">
		
							<div class="col-sm-7 col-md-7">
		
								<img src={% static "website/assets/img/tree.png" %} class="img-responsive " title="" alt="">
		
							</div>
		
		
							<div class="col-sm-3 col-md-3 col-md-offset-1 text-inner">
								<div class="text-section">
									
									
									<h1>Summarize with Wikum</h1>
		
									<p>By harnessing the power of people backed by state-of-the-art human-computer 
										interaction and machine learning techniques, 
										users get complete control over the collaborative summarization process. 
		</p>
										
									</div>
		
								</div>
							</div>
		
						</div>
					</div>
				</div>
		
				<!--container-->
			</section>
		
			<!--End intro-->
		<!--About-->



		<section id="about" class="padd-section bg-color-section">
				
				
													<!--container-->
				
													<div class="container how-container">
														<div class="row">
				
				
															<div class="col-xs-12 col-sm-6 col-md-6">
				
																<!-- Start title-section -->
																<div class="section-header">
																	<h2 class="section-title text-left margin-40">How does it work?</h2>
																</div>
																<!-- End title-section -->
				
																<div class="tabs-inner">
				
																	<!-- Nav tabs -->
																	<ul class="nav nav-tabs" role="tablist">
																		<li class="active"><a href="#tab1" role="tab" data-toggle="tab">Select</a></li>
																		<li><a href="#tab2" role="tab" data-toggle="tab">Summarize </a></li>
				
																		<li><a href="#tab3" role="tab" data-toggle="tab">Moderate</a></li>
				
																	</ul>
				
																	<!-- Tab panes -->
																	<div class="tab-content">
																		<div class="tab-pane active" id="tab1">
				
																			<h3>Select</h3>
				
																			<span class="number-tabs">01</span>
				
																			<p>
																					Through Wikum's easy-to-navigate tree visualization, you can get a 
																					snapshot of the various comments, replies, and existing summaries of 
																					the entire discussion thread. 
																					
																					</P>
																					
																					<P>You can click, drag-to-select, Command/Ctrl-click,
																					and expand or collapse replies
																					using the visualization in order to select the discussion level at
																					which you want read or summarize.
																					
																					 
																			</p>
				
				
																		</div>
				
				
																		<div class="tab-pane" id="tab2">
				
																			<h3>Summarize</h3>
				
																			<span class="number-tabs">02</span>
				
																			<p>
																					
																					After selecting a comment or a subtree or group of comments, 
																					you can write a summary of these comments, with the help of
																					automatically highlighted important sentences, and features to add citations.
																					You can also tag, hide, or automatically cluster comments to organize the discussion.
																			</P>
																			<p>
																						Wikum uses a <b>recursive summarization approach</b>, allowing you to
																						build summaries on top of other summaries, your own or others.
																						That is, once you've written a summary of a subset of comments, another
																						summary can summarize a larger subset of comments, taking into account your summary. 
																					
																			</p>
				
				
																		</div>
				
				
																		<div class="tab-pane" id="tab3">
				
																			<h3>Moderate</h3>
				
																			<span class="number-tabs">03</span>
				
																			<p>
																					With the ability to flag and edit summaries as well as see the entire edit history, 
																					Wikum empowers the community to keep track of who has participated and
																					the overall quality of summaries.
																			</p>
				
				
																		</div>
				
																	</div>
				
																</div>
				
															</div>
															<div class="col-xs-12 col-md-6 col-sm-6">
				
																<div class="phone-screen hidden-xs">
																	<img class="phone-beyond wow fadeInLeft" src={% static "website/assets/img/B.png" %}
																	data-wow-delay=".5s"
																	alt=""
																	title="">
																</div>
				
															</div>
				
														</div>
				
														<!--container-->
				
													</div>
				
												</section>
												<!--End About-->

			<!--Features-->
	
			<section id="features" class="padd-section ">
					
							<!--container-->
					
							<div class="container">
								<div class="row">
									<!-- Start title-section -->
									<div class="section-header text-center">
										<div class="row-centered">
											<div class="col-md-6 col-xs-12 col-sm-6 col-centered">
					
												<h2 class="section-title text-center">Features</h2>
												
															</div>
															</div>
															<div class="row">
					
															 <div class="col-xs-12 col-md-6 col-sm-6">
					
																<div class="phone-screen">
																	<img class="phone-above app-phone-2 wow fadeInLeft" src={% static "website/assets/img/C.png" %} alt=""
																	data-wow-delay=".4s"
																	title="">
					
																</div>
					
															</div>
					
					
															<div class="col-xs-12 col-sm-6 col-md-6">
					 
																<div class="row">
																	<div class="col-md-6 col-sm-6 col-xs-12">
																		<div class="icon-box">
					
																			<div class="icon-box-content">
																			   <h3>Tags and Clusters</h3>
																			   <p>By adding auto-suggested or user-generated tags as well as automatic clustering, similar comments can be  grouped together for further action. </p>
																		   </div>
																	   </div>
																   </div>
																   <div class="col-md-6 col-sm-6 col-xs-12">
																	<div class="icon-box">
					
																		<div class="icon-box-content">
																		   <h3>Flags</h3>
																		   <p>Flags empower users to highlight when summaries need further work due to incompleteness, non-neutral language, or writing quality.  </p>
																	   </div>
																   </div>
															   </div>
					
															   <div class="col-md-6 col-sm-6 col-xs-12">
																<div class="icon-box">
					
					
					
																	<div class="icon-box-content">
																	   <h3>Edit</h3>
																	   <p>From a wiki philosophy, Wikum permits users edit any existing summaries to make them better. 
																	   	User permissions are also controllable for those wishing a private workspace.  </p>
																   </div>
					
															   </div>
					
					
														   </div>
					
														   <div class="col-md-6 col-sm-6 col-xs-12">
															<div class="icon-box">
					
					
					
																<div class="icon-box-content">
																   <h3>History</h3>
																   <p>Wikum keeps a log of all edits so that the community can see who has edited each summary and keep a record of all activities. 
																   	
																   	</p>
															   </div>
					
														   </div>
					
					
													   </div>
												   </div>
					
					
					
					
					
											   </div>
					
					
										   </div>
					
										   <!--container-->
					
									   </div>
					
								   </section>
								   <!--End ABOUT OUR APP-->		
			

 <section
        id="explore"
        class="padd-section bg-color-section"
    >
        <!-- container -->

        <div class="container"> 
            <div class="row">
                <!-- Start title-section -->


                <div class="row-centered">
                    <div class="col-md-12 col-sm-12 col-centered">
                        <h2 class="section-title text-center">Explore Public Wikums</h2>

                       </div>
                      </div>
                     </div>
						
						<div class="row-centered">
							<div class="col-md-6 col-xs-12 col-sm-6 col-centered">
	
								<h1 class="section-title text-center margin-title">Recently Added:</h1>
								<BR>
								</div>
							</div>
							 <div class="row">
								 <div class="col-md-2 col-sm-2  hidden-xs"> 
									</div>			
											{% for a in recent_articles %}
												 <div class="col-md-2 col-sm-4 col-xs-6"> 
												 	<a href="/visualization_flags?id={{ a.id }}&owner={{ a.owner }}">
													 <div class="team-member member-image-hover plan-featured" style="padding:10px;"> 
													 	{{ a.title | shorten:60 }}
													 	<BR>
													 		<strong>{{a.source.source_name}}</strong>
													 	<BR><BR>
													 		{{ a.comment_num }} comments
													 		<BR>{{ a.percent_complete }}% summarized
													</div>
													</a>
											   </div>
											 {% endfor %}
											 
											 <div class="col-md-2 col-sm-4 col-xs-6"> 
											 	
											 	<a href="/explore_public" class="section-scroll btn btn-lg btn-link text-uppercase">Explore More</a>
													
											   </div>
											   
										</div>
					
                    <div class="row-centered">
							<div class="col-md-6 col-xs-12 col-sm-6 col-centered">
	
								<h1 class="section-title text-center margin-title">Most Summarized:</h1>
								<BR>
								</div>
							</div>
							 <div class="row">
								 <div class="col-md-2 col-sm-2  hidden-xs"> 
									</div>			
											{% for a in finished_articles %}
											<a href="/visualization_flags?id={{ a.id }}&owner={{ a.owner }}">
												 <div class="col-md-2 col-sm-4 col-xs-6"> 
													 <div class="team-member member-image-hover plan-featured" style="padding:10px;"> 
													 	{{ a.title | shorten:60 }}
													 	<BR>
													 		<strong>{{a.source.source_name}}</strong>
													 	<BR><BR>
													 		{{ a.comment_num }} comments
													 		<BR>{{ a.percent_complete }}% summarized
													</div>
											   </div>
											   </a>
											 {% endfor %}
											 
											 
											 <div class="col-md-2 col-sm-4 col-xs-6"> 
													<a href="/explore_public" class="section-scroll btn btn-lg btn-link text-uppercase">Explore More</a>
													
											   </div>
											   
										</div>
					
                    </div>
                    
                    
                      </section>
                            

    <section
        id="workspaces"
        class="padd-section"
    >
        <!-- container -->

        <div class="container">
            <div class="row">
                <!-- Start title-section -->

                <div class="section-header">
                    <div class="row-centered">
                        <div class="col-md-6 col-xs-12 col-sm-6 col-centered">
                            <h2 class="section-title text-center">Create Wikums</h2>

                            <p>
                             Wikum has both public and private workspaces for summarizing and creating discussions.
                             Explore and contribute to public summaries of discussions or log in to 
                             create a private workspace for yourself and your collaborators.
                            </p>
                            <p>
                            	Currently, Wikum supports pulling discussion from
                            	<b>Wikipedia Talk Pages</b>, 
                            	<b>Disqus forums on articles</b>,
                            	<b>Reddit</b>,
                            	<b>Decide Madrid</b>,
                            	<b>JOIN Taiwan</b>,
                            	and <b>mbox email files</b>.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- End title-section -->

                <div class="plan-price  text-center clearfix">
                    <div class="col-xs-12 col-sm-6 wow fadeInLeft">
                        <div class="plan-featured">
                            <div class="header-plan text-center">
                                <i class="icon-support"></i>

                                <h3>Public workspace</h3>
                            </div>

                            <div class="content-plan">
                                <ul>
                                    <li>
                                        Contribute in summarizing public debates
                                    </li>

                                    <li>
                                        Explore what issues bubble to the top
                                    </li>
                                    
                                    
                                    <li>Dive in to read people's comments</li>

                                </ul>

                                <div class="price-content"></div>
                            </div>

                            <div class="footer-plan">
                                
                                
                                <a
                                    href="/explore_public"
                                    class="btn btn-md btn-outline text-uppercase"
                                >Explore Existing</a>
                                
                                
                               <a class="btn btn-md btn-outline text-uppercase"
                               data-toggle="modal"
                               data-target="#createWikumModal">{% trans "Import Discussion" %}</a>

                               <a class="btn btn-md btn-outline text-uppercase"
                               data-toggle="modal"
                               data-target="#newWikumModal">{% trans "Create Discussion" %}</a>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 wow fadeInLeft">
                        <div class="plan-featured text-center">
                            <div class="header-plan">
                                <i class="icon-briefcase"></i>

                                <h3>Private workspace</h3>
                            </div>

                            <div class="content-plan">
                                <ul>
                                    <li>Privately archive your summaries of discussions</li>

                                    <li>
                                        Create collaborative private workspaces
                                    </li>

                                    <li>Manage viewing and editing permissions</li>
                                </ul>

                                <div class="price-content"></div>
                            </div>

                            <div class="footer-plan">
                            	{% if user.is_authenticated %}
                            		<a class="btn btn-md btn-outline text-uppercase"
                               data-toggle="modal" 
                               data-target="#createWikumModal">{% trans "Import Discussion" %}</a>

                               <a class="btn btn-md btn-outline text-uppercase"
                               data-toggle="modal" 
                               data-target="#newWikumModal">{% trans "Create Discussion" %}</a>
                            	
                            	{% else %}
	                                <a
	                                    href="/account/login"
	                                    class="btn btn-md btn-outline text-uppercase"
	                                >{% trans "Login" %}</a>
	                                <a
	                                    href="/account/signup"
	                                    class="btn btn-md btn-outline text-uppercase"
	                                >
	                                {% trans "Sign Up" %}</a>
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- container -->
        </div>
    </section>




    <section
        id="download"
        class="padd-section padd-bottom bg-color-section"
    >
        <!-- container -->

        <div class="container">
            <!-- Start title-section -->

            <div class="row-centered">
                <div class="col-md-6 col-xs-12 col-sm-6 col-centered">
                    <div class="download-content">
                        <h2></h2>

                        <h3>Learn More</h3>

							<h1 class="section-title text-center margin-title">Source Code</h1>
													

                        <p>
                           We believe in open source software and invite you to collaborate 
                           with us on our Github repository.
                        </p>

                        <div class="btn-download-content">
                            <a
                                href="https://github.com/amyxzhang/wikum"
                                class="btn-downlaod"
                            >
                                <img
                                    src={% static "website/assets/img/github-logo-white.png" %}
                                    alt=""
                                    title=""
                                >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container">
            <!-- Start title-section -->

            <div class="row-centered">
                <div class="col-md-6 col-xs-12 col-sm-6 col-centered">
                    <div class="download-content">
                        <h2></h2>

                        
							<h1 class="section-title text-center margin-title">Research</h1>
													

  <p>
                           We have written research papers about Wikum and are actively conducting additional studies.
                        </p>

					</div>
					</div>

 				<div class="plan-price  text-center clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <div class="plan-featured"  style="padding: 15px;">
                            

                            <div class="content-plan">
                                <strong>Wikum: Bridging Discussion Forums and Wikis using Recursive Summarization.</strong> 
							Amy X. Zhang, Lea Verou, David Karger.
							ACM Conference on Computer Supported Cooperative Work and Social Computing (<a href="http://cscw.acm.org/2017/index.php">CSCW 2017</a>). <br>
							
							
                            </div>

                            <div class="footer-plan">
                                
                                <a class="btn btn-lg btn-link text-uppercase" href="http://people.csail.mit.edu/axz/papers/wikum.pdf">pdf</a>
							<a class="btn btn-lg btn-link text-uppercase" href="http://people.csail.mit.edu/axz/wikum.html">{% trans "slides and talk" %}</a>
					
                               
                                
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="plan-featured text-center"   style="padding: 15px;">
                            

                            <div class="content-plan">
                                Ongoing research collaboration with <b>Wikimedia Foundation</b> to evaluate the utility of Wikum 
                        		for synthesizing input and determining consensus on large Wikimedia discussions, such as RfCs and WMF Community consultations.
                        		
                            </div>

                            <div class="footer-plan">
                               <a class="btn btn-lg btn-link text-uppercase" href="https://meta.wikimedia.org/wiki/Research:Discussion_summarization_and_decision_support_with_Wikum">Project Report</a>
							
                            </div>
                        </div>
                    </div>
                </div>



                </div>
            </div>

            
        </div>
    </section>



   <section
        id="scennshots"
        class="padd-section bg-color-blue hidden-xs">
        <!-- container -->

        <div class="container hidden-xs">
            <div class="row">
                <!-- Start title-section -->

                <div class="row-centered white-text">
                    <div class="col-md-6 col-sm-12 col-centered">
                        <h2 class="section-title text-center white-text">Wikum @ ICDemocracy17</h2>

                        <p>
                            Wikum was one of the projects showcased at

                            <b>
                                <a
                                    class="green-text"
                                    href="http://democratic-cities.cc/icd-imagining-together-the-democracy-of-the-21st-century/"
                                >Collective Intelligence for Democracy 2017- MediaLab Prado Madrid</a></b>,

                            where hackers, activists, politicians, programmers, designers, and researchers from                                     
                                    all over the world came together and collaborated for two weeks to hack on Wikum and adapt it for improving

                            <b>
                                citizen participation in democracy.
                            </b>
                        </p>
                    </div>
                </div>

                <!-- End title-section -->

                <div class="screenshot_slider margin-40 padd-50">
                    <div
                        class="item"
                        style="width:600px"
                    >
                        <a
                            href="http://democratic-cities.cc/icd-imagining-together-the-democracy-of-the-21st-century/"
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/1.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:600px"
                    >
                        <a
                            href={% static "website/assets/img/media/2.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/2.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:600px"
                    >
                        <a
                            href={% static "website/assets/img/media/3.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/3.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:600px"
                    >
                        <a
                            href={% static "website/assets/img/media/4.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/4.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:600px"
                    >
                        <a
                            href={% static "website/assets/img/media/5.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/5.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:600px"
                    >
                        <a
                            href={% static "website/assets/img/media/6.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/6.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:600px"
                    >
                        <a
                            href={% static "website/assets/img/media/7.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/7.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:500px"
                    >
                        <a
                            href={% static "website/assets/img/media/8.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/8.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:500px"
                    >
                        <a
                            href={% static "website/assets/img/media/9.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/9.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:500px"
                    >
                        <a
                            href={% static "website/assets/img/media/10.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/10.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:500px"
                    >
                        <a
                            href={% static "website/assets/img/media/11.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/11.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:500px"
                    >
                        <a
                            href={% static "website/assets/img/media/12.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/12.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>

                    <div
                        class="item"
                        style="width:500px"
                    >
                        <a
                            href={% static "website/assets/img/media/13.jpg" %}
                            class="popup-image"
                        >
                            <img
                                src={% static "website/assets/img/media/13.jpg" %}
                                alt=""
                                title=""
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>




			

	<section id="contact" class="padd-section bg-color-section">
			
			
										<!--container-->
			
										<div class="container">
											<div class="row">
												<div class="section-header">
													<div class="row-centered">
														<div class="col-md-6 col-xs-12 col-sm-6 col-centered">
			
															<h2 class="section-title text-center">Core Team</h2>
															<p>Wikum researchers at  <a class="green-text"href="http://www.csail.mit.edu/" >Computer Science and Artificial Intelligence Laboratory</a>, MIT 
																</p>
															</div>
														</div>
													</div>
												<div class="col-md-3 col-sm-4 hidden-xs "> 
													</div>
													
			
													<div class="col-md-3 col-sm-4 col-xs-6"> 
														<div class="team-member member-image-hover"> 
															 <img src={% static "website/assets/img/contributors/amy.jpg" %}>
																 <div class="member-caption">
																	 <div class="member-content text-center">
																		<div class="member-content-inner">
																		  <h4 class="member-title">Amy Zhang</h4>
																		  <p class="member-subtitle">Creator</p>
																		  <ul class="member-icons">
																			<li class="social-icon"><a href="http://people.csail.mit.edu/axz"><i class="icon-user"></i></a></li>
																			<li class="social-icon"><a href="https://twitter.com/amyxzh"><i class="icon-social-twitter"></i></a></li>
																			<li class="social-icon"><a href="mailto:axz@mit.edu"><i class="icon-envelope"></i></a></li>
																			  <li class="social-icon"><a href="https://github.com/amyxzhang"><i class="icon-social-github"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												 <div class="col-md-3 col-sm-4 col-xs-6"> 
													 <div class="team-member member-image-hover"> 
													 <img src={% static "website/assets/img/contributors/karger.png" %}>
															 <div class="member-caption">
			
																 <div class="member-content text-center">
																	<div class="member-content-inner">
																	  <h4 class="member-title">David R. Karger</h4>
																	  <p class="member-subtitle">Creator</p>
																	  <ul class="member-icons">
																		<li class="social-icon"><a href="http://people.csail.mit.edu/karger"><i class="icon-user"></i></a></li>
																		<li class="social-icon"><a href="https://twitter.com/karger"><i class="icon-social-twitter"></i></a></li>
																		<li class="social-icon"><a href="mailto:karger@mit.edu"><i class="icon-envelope"></i></a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
											</div>
										</div>
										
										<div class="row-centered">
												<div class="col-md-6 col-xs-12 col-sm-6 col-centered">
	
													<h1 class="section-title text-center margin-title">Additional Contributors</h1>
															<p>Current and former graduate and undergraduate students in the <a class="green-text" href="http://haystack.csail.mit.edu">Haystack Group</a> at MIT CSAIL.
																</p>
													</div>
												</div>
											 <div class="row">
												 
													<div class="col-md-3 col-sm-4  hidden-xs"> 
													</div>
														<div class="col-md-2 col-sm-3 col-xs-4"> 
															<div class="team-member member-image-hover"> 
															 <img src={% static "website/assets/img/contributors/jane.jpg" %}>
																	 <div class="member-caption">
																		 <div class="member-content text-center">
																			<div class="member-content-inner">
																			  <h4 class="member-title">Jane Im</h4>
																			  <p class="member-subtitle">Contributor</p>
																			  <ul class="member-icons">
																				<li class="social-icon"><a href="http://trusttri.github.io"><i class="icon-user"></i></a></li>
																				<li class="social-icon"><a href="https://github.com/trusttri"><i class="icon-social-github"></i></a></li>
																				<li class="social-icon"><a href="mailto:imjane@umich.edu"><i class="icon-envelope"></i></a></li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-2 col-sm-3 col-xs-4"> 
															 <div class="team-member member-image-hover"> 
															 <img src={% static "website/assets/img/contributors/sunny.jpg" %}>
																 <div class="member-caption">
																	 <div class="member-content text-center">
																		<div class="member-content-inner">
																		  <h4 class="member-title">Sunny Tian</h4>
																		  <p class="member-subtitle">Contributor</p>
																		  <ul class="member-icons">
																			<li class="social-icon"><a href="http://people.csail.mit.edu/axz"><i class="icon-user"></i></a></li>
																			<li class="social-icon"><a href="https://twitter.com/amyxzh"><i class="icon-social-twitter"></i></a></li>
																			<li class="social-icon"><a href="mailto:axz@mit.edu"><i class="icon-envelope"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													 </div>
													 <div class="col-md-2 col-sm-4 col-xs-4"> 
															<div class="team-member member-image-hover"> 
															<img src={% static "website/assets/img/contributors/verou.jpg" %}>
																	<div class="member-caption">
				   
																		<div class="member-content text-center">
																		   <div class="member-content-inner">
																			 <h4 class="member-title">Lea Verou</h4>
																			 <p class="member-subtitle">Contributor</p>
																			 <ul class="member-icons">
																			   <li class="social-icon"><a href="http://http://lea.verou.me"><i class="icon-user"></i></a></li>
																			   <li class="social-icon"><a href="https://twitter.com/leaverou"><i class="icon-social-twitter"></i></a></li>
																			   <li class="social-icon"><a href="mailto:"><i class="icon-envelope"></i></a></li>
																				 <li class="social-icon"><a href="https://github.com/LeaVerou"><i class="icon-social-github"></i></a></li>
																		   </ul>
																	   </div>
																   </div>
															   </div>
														   </div>
													  </div>
												</div>
												 
										
										<div class="row-centered">
												<div class="col-md-6 col-xs-12 col-sm-6 col-centered">
	
													<h1 class="section-title text-center margin-title">Wikum @ ICDemocracia17</h1>
													<p>Wikum Collaborators at <a class="green-text"href="http://medialab-prado.es/article/collective-intelligence-for-democracy-2017-call-for-collaborators?lang=en" >Collective Intelligence for Democracy 2017</a> <br> Medialab Prado, Madrid.</p>
													</div>
												</div>
											 <div class="row">
												 <div class="col-md-2 col-sm-4  hidden-xs"> 
													</div>			
													
												 <div class="col-md-2 col-sm-3 col-xs-3"> 
													 <div class="team-member member-image-hover"> 
													 <img src={% static "website/assets/img/contributors/abhi.jpg" %}>
															 <div class="member-caption">
			
																 <div class="member-content text-center">
																	<div class="member-content-inner">
																	  <h4 class="member-title">Abhishek Srivastava</h4>
																	  <p class="member-subtitle">Contributor</p>
																	  <ul class="member-icons">
																		<li class="social-icon"><a href="http://abhisheksrivastava.net"><i class="icon-user"></i></a></li>
																		<li class="social-icon"><a href="https://twitter.com/agelesschronicl"><i class="icon-social-twitter"></i></a></li>
																		<li class="social-icon"><a href="mailto:emailabhishek1@gmail.com"><i class="icon-envelope"></i></a></li>
																		  <li class="social-icon"><a href="https://github.com/elaragon"><i class="icon-social-github"></i></a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
											   </div>
											   <div class="col-md-2 col-sm-3 col-xs-3"> 
													<div class="team-member member-image-hover"> 
													<img src={% static "website/assets/img/contributors/curtomil.jpg" %}>
															<div class="member-caption">
		   
																<div class="member-content text-center">
																   <div class="member-content-inner">
																	 <h4 class="member-title">Daniel Curto-Milet</h4>
																	 <p class="member-subtitle">Contributor</p>
																	 <ul class="member-icons">
																	   <li class="social-icon"><a href="http://people.csail.mit.edu/karger"><i class="icon-user"></i></a></li>
																	   <li class="social-icon"><a href="https://twitter.com/karger"><i class="icon-social-twitter"></i></a></li>
																	   <li class="social-icon"><a href="mailto:karger@mit.edu"><i class="icon-envelope"></i></a></li>
																		 <li class="social-icon"><a href="https://github.com/elaragon"><i class="icon-social-github"></i></a></li>
																   </ul>
															   </div>
														   </div>
													   </div>
												   </div>
											  </div>
											   <div class="col-md-2 col-sm-3 col-xs-3"> 
													<div class="team-member member-image-hover"> 
														 <img src={% static "website/assets/img/contributors/elaragon.jpg" %}>
															 <div class="member-caption">
																 <div class="member-content text-center">
																	<div class="member-content-inner">
																	  <h4 class="member-title">Pablo Aragón</h4>
																	  <p class="member-subtitle">Contributor</p>
																	  <ul class="member-icons">
																		<li class="social-icon"><a href="https://elaragon.wordpress.com"><i class="icon-user"></i></a></li>
																		<li class="social-icon"><a href="https://twitter.com/elaragon"><i class="icon-social-twitter"></i></a></li>
																		<li class="social-icon"><a href="mailto:elaragon@gmail.com"><i class="icon-envelope"></i></a></li>
																		<li class="social-icon"><a href="https://github.com/elaragon"><i class="icon-social-github"></i></a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												 
												 
												 <div class="col-md-2 col-sm-3 col-xs-3"> 
													 <div class="team-member member-image-hover"> 
													 <img src={% static "website/assets/img/contributors/bere.jpg" %}>
														 <div class="member-caption">
															 <div class="member-content text-center">
																<div class="member-content-inner">
																  <h4 class="member-title">Berenice</h4>
																  <p class="member-subtitle">Contributor</p>
																  <ul class="member-icons">
																	<li class="social-icon"><a href="https://twitter.com/darkolina"><i class="icon-social-twitter"></i></a></li>
																  </ul>
															</div>
														</div>
													</div>
												</div>
												 </div>
										</div>
										<div class="row">
												<div class="col-md-3 col-sm-4 col-xs-1"> 
													</div>
												<div class="col-md-2 col-sm-3 col-xs-3"> 
													 <div class="team-member member-image-hover"> 
													 <img src={% static "website/assets/img/contributors/ramla.jpg" %}>
													<div class="member-caption">
														<div class="member-content text-center">
																<div class="member-content-inner">
																	<h4 class="member-title">Ramla</h4>
																	<p class="member-subtitle">Contributor</p>
																	<ul class="member-icons">
																		<li class="social-icon"><a href="https://twitter.com/ramlaAyadi"><i class="icon-social-twitter"></i></a></li>
																		<li class="social-icon"><a href="mailto:ramlayadi13@gmail.com"><i class="icon-envelope"></i></a></li>
																	</ul>
																</div>
														</div>
													</div>
													</div>
											    </div>
											    <div class="col-md-2 col-sm-3 col-xs-3"> 
													<div class="team-member member-image-hover"> 
													    <img src={% static "website/assets/img/contributors/julio.jpg" %}>
															<div class="member-caption">
																<div class="member-content text-center">
																	<div class="member-content-inner">
																	  <h4 class="member-title">Julio Reyes</h4>
																	  <p class="member-subtitle">Contributor</p>
																	  <ul class="member-icons">
																		<li class="social-icon"><a href="https://twitter.com/etjulio"><i class="icon-social-twitter"></i></a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
											   </div>
												<div class="col-md-2 col-sm-3 col-xs-3"> 
													<div class="team-member member-image-hover"> 
													    <img src={% static "website/assets/img/contributors/alexter.jpg" %}>
														 <div class="member-caption">
															 <div class="member-content text-center">
																<div class="member-content-inner">
																  <h4 class="member-title">Alejandra Monroy</h4>
																  <p class="member-subtitle">Contributor</p>
																  <ul class="member-icons">
																	<li class="social-icon"><a href="https://twitter.com/alexter42"><i class="icon-social-twitter"></i></a></li>
																	<li class="social-icon"><a href="mailto:a.monroy@berkeley.edu"><i class="icon-envelope"></i></a></li>
																</ul>
															</div>
														 </div>
													</div>
												</div>
												</div>
										</div>
									</div>
								</section>
			


	<section id="thanks" class="padd-section">
			
			
										<!--container-->
			
										<div class="container">
											<div class="row">
												<div class="section-header">
													<div class="row-centered">
														<div class="col-md-6 col-xs-12 col-sm-6 col-centered">
			
															<h2 class="section-title text-center">Thank you to:</h2>
															<p>
																
															</p>
															</div>
													</div>
												</div>
											</div>
												<div class="row" style="display: flex; align-items: center;">
												 <div class="col-md-2 col-sm-4  hidden-xs"> 
													</div>			
													
												 <div class="col-md-2 col-sm-3 col-xs-3" style="text-align:center;">
												 	<img src={% static "website/assets/img/collaborations/mit.png" %}>
                         						</div>
                         						<div class="col-md-2 col-sm-3 col-xs-3" style="text-align:center;">
												 	<img src={% static "website/assets/img/collaborations/csail.png" %} width=60%>
                         						</div>
                         						 <div class="col-md-2 col-sm-3 col-xs-3" style="text-align:center;">
												 	<img src={% static "website/assets/img/collaborations/medialab.jpeg" %} width=80%>
                         						</div>
                         						<div class="col-md-2 col-sm-3 col-xs-3" style="text-align:center;">
												 	<img src={% static "website/assets/img/collaborations/wmf.png" %} width=70%>
                         						</div>
													</div>
											</div>
										
									</section>


       <footer>
        <div class="container">
            <div class="row">
                <div class="footer-top">
                    <!-- Start title-section -->

                    <div class="row-centered">
                        <div class="col-md-6 col-xs-12 col-sm-6 col-centered">
                            <ul class="list-social list-inline">
                                <li>
                                    <a
                                        href="https://twitter.com/wikum_mit"
                                        target="_blank"
                                        class="btn btn-circle  btn-twitter"
                                    >
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <!-- COPYRIGHT TEXT -->

                    <div class="copyright">
                        <p>
                            Last updated: Sept 2018.
                        </p>
                    </div>

                    <!-- COPYRIGHT TEXT -->
                </div>
            </div>
        </div>
    </footer>
    
<!-- Modal -->
<div id="createWikumModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans "Import a Discussion" %}</h4>
      </div>
      <div class="modal-body">
      	
			{% trans "Import a new discussion by pasting an Atlantic article url, Reddit page url, or Wikipedia Talk page section url here." %}
        
		   <form>
		  <div class="form-group">
		  	
		    <input type="url" class="form-control" id="articleUrl" placeholder="">
		 	<BR>
		 	<button type="button" class="btn btn-default" id="submiturl">{% trans "Submit" %}</button>
		 
		  </div>
		  </form>
		  
	  	<div id="message" style="display: block; height:40px;">
	  	</div>
 
            
          <div class="progress_container" style="display: block; height: 70px;">
	   		<div class="status" style="display: block; height: 30px;">
	   			
	   		</div>
	   		
	   		<div class="result" style="display: block; height: 30px;">
	   		</div>
	  	</div>
        
        
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="newWikumModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans "Create a Discussion" %}</h4>
      </div>
      <div class="modal-body">

		{% trans "New Wikum Title:" %}

		<form>
			<div class="form-group">

			<input class="form-control" id="wikumTitle" placeholder="">
			<BR>
			<button type="button" class="btn btn-default" id="submitTitle">{% trans "Submit" %}</button>

			</div>
		</form>

		<div id="message" style="display: block; height:40px;">
	  	</div>
 
            
		<div class="progress_container" style="display: block; height: 70px;">
			<div class="status" style="display: block; height: 30px;">
		   			
			</div>
		   		
			<div class="result" style="display: block; height: 30px;">
			</div>
		</div>

		</div>
	</div>

	</div>
</div>

{% endblock %}


{% block scripts %}



    <script src={% static "website/assets/js/wow.min.js" %}></script>
    <script src={% static "website/assets/js/owl.carousel.min.js" %}></script>
    <script src={% static "website/assets/js/magnific-popup.min.js" %}></script>
    <script src={% static "website/assets/js/jquery.scrollUp.min.js" %}></script>
    <script src={% static "website/assets/js/jquery.ajaxchimp.min.js" %}></script>
    <!-- Main js -->
    <script src={% static "website/assets/js/main.js" %}></script>



<script>
	var PollState = function(task_id) {
		var article_id = null;
		$.ajax({
 			url: "poll_status",
 			type: "POST",
 			data: "task_id=" + task_id,
		}).done(function(task){
 			if (task.id != null) {
 				article_id = task.id;
 			}
 			if (task.state == 'PROGRESS') {
 				if (task.result) {
  					$('.result').html('Status: ' + task.result.count + ' comments ingested.');
	  			} else{
	  				$('.result').html('Status: In progress...');
	  			}
  				setTimeout(PollState(task_id), 3000);
 			} else if (task.state == 'PENDING') {
 				$('.result').html('Status: Pending...');
 				setTimeout(PollState(task_id), 3000);
 			} else {
 				console.log(article_id);
 				$('#message').text('');
 				if (task.state == 'SUCCESS') {
 					var owner = $('#owner').text();
 					if (!owner) {
 						owner = "None";
 					}
  					$('.status').html(task.state + '!  <a href="/visualization_flags?id=' + article_id + '&owner=' + owner + '"><button class="btn btn-default btn-sm">View comments</button></a>');
  				} else {
  					$('.status').html(task.state + ' - ' + task.result);
  				}
 			};
		});
	};
    	
    	function submiturl() {
    		var owner = $('#owner').text();
			if (!owner) {
				owner = "None";
			}
			var article = $('#articleUrl').val();
			$.ajax({
				url: "import_article",
				data: {
					'article': article,
					'owner': owner,
				},
				success: function(res){
					console.log(res);
					$('.status').text('');
					$('.result').text('');
					$('#message').text('Wikum is now importing all the comments in the discussion. This may take a while as we are rate-limited by APIs.' + 
					' You can wait or come back later to find the article on the main page.');
				   	PollState(res);
				}
			});
    	}
    
    	$('#submiturl').click(function(event) {
    		submiturl();
    		return false;
    	});

		function submitTitle() {
			var wikumTitle = $('#wikumTitle').val();
			var owner = $('#owner').text();
			if (!owner) {
				owner = "None";
			}
			$.ajax({
				url: "create_wikum",
				data: {
					'article': wikumTitle,
					'owner': owner,
				},
				success: function(res){
					console.log(res);
					$('.status').text('');
					$('.result').text('');
					wikumTitle = wikumTitle.replace('#', '%23').replace('&', '%26');
					$('.status').html('Success!  <a href="/visualization_flags?id=' + res + '&owner=' + owner + '"><button class="btn btn-default btn-sm">View comments</button></a>');
				}
			});
		}

		$('#submitTitle').click(function(event) {
			submitTitle();
			return false;
		});

    
		$('#articleUrl').keydown(function(event){ 
		    var keyCode = (event.keyCode ? event.keyCode : event.which);   
		    if (keyCode == 13) {
		    	submiturl();
				return false;
		    }
		});
		
		
    </script>





{% endblock %}
