{% extends 'website/base.html' %}
{% load i18n %}
{% load static %}
{% load websitefilters %}


{% block styles %}
    <link rel="stylesheet" href={% static "website/css/notifications.css" %}>
{% endblock %}


{% block content %}

    <section class="container text-center" style="padding-top: 150px;">
            <div class="row">
                
                <h1>{% trans "Notifications" %}</h1>
                <BR>
                <BR>

                {% if notifications %}

                    <table>
                        <tr>
                            <td>{% trans "Notification Message" %}</td>
                            <td>{% trans "Content" %}</td>
                            <td>{% trans "Type" %}</td>
                            <td>{% trans "User" %}</td>
                            <td>{% trans "Time" %}</td>
                        </tr>
                    {% for notif in unseen_nots %}
                        <tr class="unseen">
                            
                                <td><a href="{{ notif.url }}">{{ notif.message }}</a></td>

                                <td>{{ notif.content }}</td>

                                <td>{{ notif.notice_type.display }}</td>

                                <td>{{ notif.sender }}</td>

                                <td>{{ notif.date_created }}</td>

                        </tr>
                    {% endfor %}
                    {% for notif in notifications %}
                        {% if notif not in unseen_nots %}
                            <tr class="seen">
                                <td><a href="{{ notif.url }}">{{ notif.message }}</a></td>

                                <td>{{ notif.content }}</td>

                                <td>{{ notif.notice_type.display }}</td>

                                <td>{{ notif.sender }}</td>

                                <td>{{ notif.date_created }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                {% else %}
                    <div>You have no notifications!</div>
                {% endif %}
            </div>
    </section>

{% endblock %}


{% block scripts %}

{% endblock %}
