{% extends 'website/base_viz.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/base-vis.css" %}>
	<link rel="stylesheet" href={% static "website/css/jquery-ui.min.css" %}>
	<link rel="stylesheet" href={% static "website/css/typeaheadjs.css" %}>
{% endblock %}


{% block content %}

<div id="controldiv">
<div id="paginate"></div>
<div id="box_top"></div>
</div>

	{% include 'website/viz.html' %}

{% endblock %}


{% block scripts %}

	<script src={% static "website/js/d3.min.js" %}></script>
	<script src={% static "website/js/jquery.scrollTo.min.js" %}></script>
	<script src={% static "website/js/jquery-ui.min.js" %}></script>
	<script src={% static "website/js/jquery.noty.packaged.min.js" %}></script>
	<script src={% static "website/js/jquery.highlight.js" %}></script>
	<script src={% static "website/js/sortable.min.js" %}></script>
	<script src={% static "website/js/typeahead.bundle.js" %}></script>
	<script src={% static "website/js/jquery_textcomplete.js" %}></script>
	<script src={% static "website/js/reconnecting-websocket.min.js" %}></script>
	<script src="https://cdn.tiny.cloud/1/eows4bvgmlbllqnglakryiwa42vtmudh2l2iql3paypmptkx/tinymce/5/tinymce.min.js"></script>
	<script>tinymce.init({
		selector:'#summarize_multiple_modal_box textarea',
		plugins: "lists",
		height : "250px",
		menubar: false,
		toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter | bullist numlist outdent indent | link | forecolor backcolor',
		force_br_newlines : true,
        force_p_newlines : false,
        nonbreaking_force_tab: false,
        forced_root_block : ''});
    </script>

    <script src={% static "website/js/base_flags.js" %}></script>
	<script src={% static "website/js/subtree_outline.js" %}></script>

{% endblock %}
