{% extends 'website/base.html' %}
{% load i18n %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/summary.css" %}>
	<link rel="stylesheet" href={% static "website/css/summary1.css" %}>
	<link rel="stylesheet" href={% static "website/css/summary2.css" %}>
{% endblock %}


{% block content %}

<span id="highlight_authors" style="display:none;">{{ article.highlight_authors }}</span>

<header class="container content-section text-center" style="padding-top: 150px;">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1><a href="{{ article.url }}" title="Read the article in {{ source.source_name }}">{{ article.title }}</a></h1>
			<a href="/visualization?id={{ article.id }}&owner={{ article.owner }}">{% trans "View Wikum Editing Interface" %}</a>
			<BR>
				{% trans "Interface:" %} <a href="/summary?id={{ article.id }}&owner={{ article.owner }}">0</a> | 
				<a href="/summary1?id={{ article.id }}&owner={{ article.owner }}">1</a> | 
				<a href="/summary2?id={{ article.id }}&owner={{ article.owner }}">2</a> |
				<a href="/summary3?id={{ article.id }}&owner={{ article.owner }}">3</a> |
				<a href="/summary4?id={{ article.id }}&owner={{ article.owner }}">4</a>
			<BR><BR>
				{% trans "Full threading view, Auto-horizontal scrolling, 3 levels of context" %}
				
		</div>
	</div>
</header>

<section id="contact" style="padding-top: 50px;">
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
 			<div id="summary">
            </div>
    </div>
    </div>
    
    <div id="width_setter"></div>
    
    <div id="first_summary"></div>
    <div id="second_summary"></div>
    <div id="third_summary"></div>
    
    <div class="row">
	<div class="col-lg-8 col-lg-offset-2">
    
  	<div id="link_next">
  	</div>
  	
  </div>
  </div>

</section>




{% endblock %}

{% block scripts %}

	<script src={% static "website/js/summary_base.js" %}></script>
	<script src={% static "website/js/summary2.js" %}></script>

{% endblock %}
