{% extends 'website/base.html' %}
{% load staticfiles %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/summary.css" %}>
{% endblock %}
	
	
{% block content %}

        	
     <section id="contact" class="container content-section text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	
       
						<h2>{{ article.title }}</h2>
						<a href="{{ article.url }}">Read the article in {{ source.source_name }}</a>
					
					<BR><BR>
						<a href="/visualization?article={{ article.url }}">View Wikum Editing Interface</a>
					
		                    </div>
                </div>
            </section>		
            
     <section id="contact" class="container content-section text-center" style="padding-top: 50px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-2" id="summary">
					
					
                    </div>
                </div>
                
      <div class="row">
      	<div class="col-lg-8 col-md-8 col-lg-offset-2">
      	 <P><a style="font-size: 16px;" href="/summary?article={{ article.url }}&next={{ next }}">See Next Discussion &gt;&gt;</a></P>
      	</div>
      </div>
                
            </section>

	

{% endblock %}

{% block scripts %}

	<script src={% static "website/js/summary.js" %}></script>

{% endblock %}
