{% extends 'website/base.html' %}
{% load staticfiles %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/visualization.css" %}>
{% endblock %}


{% block content %}

	<section id="contact" class="container content-section text-center" style="padding-top: 150px;">
	        <div class="row">
	            <div id="viz" class="col-lg-8 col-lg">

	            </div>
	        </div>
	</section>
	
	<div id="box"></div>

	<div id="expand"></div>

{% endblock %}


{% block scripts %}

	<script src={% static "website/js/d3.min.js" %}></script>
	
	<script>
	
		var timer;
		
		var margin = {top: 30, right: 20, bottom: 30, left: 20},
		    width = 960 - margin.left - margin.right,
		    barHeight = 22;
		
		var i = 0,
		    duration = 400,
		    root;
		
		var tree = d3.layout.tree()
		    .nodeSize([0, 20]);
		
		var diagonal = d3.svg.diagonal()
		    .projection(function(d) { return [d.y, d.x]; });
		
		var svg = d3.select("#viz").append("svg")
		    .attr("width", width + margin.left + margin.right)
		  .append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		
		var nodes_all = null;
		
		d3.json('/viz_data?article_id={{ article.id }}', function(error, flare) {
		  if (error) throw error;
		
		  flare.x0 = 0;
		  flare.y0 = 0;
		  
		  nodes_all = tree.nodes(flare);
		  
		  update(root = flare);
		  
		  show_text(nodes_all[0]);
		});
		
		function update(source) {
		
		  // Compute the flattened node list. TODO use d3.layout.hierarchy.
		  var nodes = tree.nodes(root);
		
		  var height = Math.max(500, nodes.length * barHeight + margin.top + margin.bottom);
		
		  d3.select("svg").transition()
		      .duration(duration)
		      .attr("height", height);
		
		  d3.select(self.frameElement).transition()
		      .duration(duration)
		      .style("height", height + "px");
		
		  // Compute the "layout".
		  nodes.forEach(function(n, i) {
		    n.x = i * barHeight;
		  });
		
		  // Update the nodes…
		  var node = svg.selectAll("g.node")
		      .data(nodes, function(d) { return d.id || (d.id = ++i); });
		
		  var nodeEnter = node.enter().append("g")
		      .attr("class", "node")
		      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
		      .style("opacity", 1e-6);
		
		  // Enter any new nodes at the parent's previous position.
		  nodeEnter.append("circle")
		      .attr("r", function(d) { 
		      	if (d.article) {
		      		return 10;
		      	} else {
		      		return (d.size + 150 )/40; 
		      	}
		      	})
		      .attr("height", barHeight)
		      .style("stroke-width", stroke_width)  
		      .style("stroke", stroke)
		      .style("fill", color)
		      .on("click", function(d) {
		      	show_text(d);
		      	d3.selectAll(".clicked").classed("clicked", false);
				d3.select(this).classed('clicked', true);
				
		      })
		      .on("mouseover", showdiv)
		      .on("mouseout", hidediv);

		  // Transition nodes to their new position.
		  nodeEnter.transition()
		      .duration(duration)
		      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
		      .style("opacity", 1);
		
		  node.transition()
		      .duration(duration)
		      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
		      .style("opacity", 1)
		    .select("rect")
		      .style("fill", color);
		
		  // Transition exiting nodes to the parent's new position.
		  node.exit().transition()
		      .duration(duration)
		      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
		      .style("opacity", 1e-6)
		      .remove();
		
		  // Update the links…
		  var link = svg.selectAll("path.link")
		      .data(tree.links(nodes), function(d) {
		      	if (d.source.article) {
		      		return null;
		      	} else {
		      		return d.target.id;
		      	}
		      	});
		      
		  
		
		  // Enter any new links at the parent's previous position.
		  link.enter().insert("path", "g")
		      .attr("class", "link")
		      .attr("d", function(d) {
	        	var o = {x: source.x0, y: source.y0};
	        	return diagonal({source: o, target: o});
		      })
		    .transition()
		      .duration(duration)
		      .attr("d", diagonal);
		
		  // Transition links to their new position.
		  link.transition()
		      .duration(duration)
		      .attr("d", diagonal);
		
		  // Transition exiting nodes to the parent's new position.
		  link.exit().transition()
		      .duration(duration)
		      .attr("d", function(d) {
		        var o = {x: source.x, y: source.y};
		        return diagonal({source: o, target: o});
		      })
		      .remove();
		
		  // Stash the old positions for transition.
		  nodes.forEach(function(d) {
		    d.x0 = d.x;
		    d.y0 = d.y;
		  });
		}
		
		// Toggle children on click.
		function click_node(id) {
		  
		  d = nodes_all[id-1];
		  
		  if (d.children) {
		    d._children = d.children;
		    d.children = null;
		  } else {
		    d.children = d._children;
		    d._children = null;
		  }
		  update(d);
		  return null;
		}
		
		function collapse_recurs(d) {
			if (d.children) {
			    d._children = d.children;
			    d.children = null;
			  }
			if (d._children) {
				for (var i=0; i<d._children.length; i++) {
					collapse_recurs(d._children[i]);
				}
			}
		}
		
		function expand_recurs(d) {
			if (d._children) {
			    d.children = d._children;
			    d._children = null;
			  }
			if (d.children) {
				for (var i=0; i<d.children.length; i++) {
					expand_recurs(d.children[i]);
				}
			}
		}
		
		// Toggle children on click.
		function collapse_node(id) {
		  d = nodes_all[id-1];
			if (d._children) {
			    d.children = d._children;
			    d._children = null;
			  }
			if (d.children) {
				for (var i=0; i<d.children.length; i++) {
					collapse_recurs(d.children[i]);
				}
			}
		  update(d);
		  return null;
		}
		
		// Toggle children on click.
		function expand_node(id) {
		  d = nodes_all[id-1];
		  expand_recurs(d);
		  update(d);
		  return null;
		}
		
		function show_text(d) {
			if (!d.article) {
				$('#box').html(d.name + '<P>Likes: ' + d.size + '</P>');
			} else {
				$('#box').html(d.name);
			}
		}
		
		function showdiv(d) {
			if (d.children || d._children) {
				clearTimeout(timer);
				var offset = $('svg').offset();
				$('#expand').css({top: offset.top + d.x + 22, 
					left: offset.left + d.y + ((d.size + 100)/60) + 28});
				$('#expand').html('<a onclick="click_node(' + d.id + ');">Toggle</a> | <a onclick="collapse_node(' + d.id + ');">Collapse replies</a> | <a onclick="expand_node(' + d.id + ');">Expand replies</a>');
				$('#expand').show();
			}
		}
		
		function hidediv(d) {
			timer = setTimeout(remove_dic, 100);
		}
		
		function remove_dic() {
			$('#expand').hide();
		}

		$("#expand").mouseleave(function() {
		    timer = setTimeout(remove_dic, 100);
		}).mouseenter(function() {
		    clearTimeout(timer);
		});
		
		function stroke_width(d) {
			if (d.article) {
				return 3;
			}
		}
		
		function stroke(d) {
			if (d.article) {
				return "#000000";
			}
		 }
		
		function color(d) {
			if (d.parent && d.parent.article) {
				return "#19668c";
			} else if (d.article) {
				return "#ffffff";
			}
		  return d._children ? "#c6dbef" : d.children ? "#c6dbef" : "#fd8d3c";
		}
		
	</script>

{% endblock %}