{% extends 'website/base.html' %}
{% load staticfiles %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/visualization.css" %}>
{% endblock %}


{% block content %}

	<section id="contact" class="container content-section text-center" style="padding-top: 50px; margin: 0px;">
	        <div class="row">
	            <div id="viz" class="col-lg-8 col-lg">

	            </div>
	        </div>
	</section>
	
	<div id="box"></div>

	<div id="expand"></div>

{% endblock %}


{% block scripts %}

	<script src={% static "website/js/d3.min.js" %}></script>
	<script src={% static "website/js/jquery.scrollTo.min.js" %}></script>
	<script src={% static "website/js/visualization.js" %}></script>

{% endblock %}