{% load i18n %}
<span id="article_id" style="display:none;">{{ article.id }}</span>
<span id="csrf" style="display:none;">{{ csrf_token }}</span>
<span id="highlight_authors" style="display:none;">{{ article.highlight_authors }}</span>


	<label class="progress-label"><span>0</span>% {% trans "of this page summarized" %} 
		<progress value="20" max="100"></progress>
	</label>

<div id="viz"></div>

<div id="node_sort"></div>

<div id="node_highlight"></div>

<div id="filter"></div>

<div id="button_subtree"></div>

<div id="box_top"></div>
<div id="box"></div>

<div id="expand" style="display: none;"></div>

<div id="hide_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{% trans "Hide Comment" %}</h4>
	  </div>
	  <div class="modal-body">
		<div id="hide_comment_text"></div>
		<div id="hide_comment_box" class="resizable"></div>
		<BR>
		<P>{% trans "Leave a note as to why this comment should be hidden (optional):" %}<BR>
			<textarea id="hide_comment_textarea"></textarea>
		</P>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" id="hide_comment_submit">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
	</div>

  </div>
</div>

<div id="tag_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<form class="modal-content" action="/tag_comment" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{% trans "Tag Comment" %}</h4>
	  </div>
	  <div class="modal-body">
		<div id="tag_comment_text"></div>
		<div id="tag_comment_box"></div>
		<div id="tag_comment_dropdown"></div>

	  </div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
  </form>

  </div>
</div>

<div id="summarize_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<form class="modal-content" action="/summarize_comment" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div id="summarize_highlight_button"></div>
		<h4 class="modal-title">{% trans "Summarize Comments" %}</h4>
	  </div>
	  <div class="modal-body">
		<div id="summarize_comment_text"></div>
		<div id="summarize_comment_box" class="resizable"></div>
		<BR>
		<P>{% trans "Summary:" %}
			<span class="wordcount"></span>
			<textarea class="summary-editor" id="summarize_comment_textarea" required placeholder="This commenter..."></textarea>
		</P>
	  </div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
  </form>

  </div>
</div>

<div id="summarize_multiple_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 100%; height: 100%; margin: 0px;">

	<!-- Modal content-->
	<form class="modal-content" action="/summarize_selected" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div id="summarize_multiple_highlight_button"></div>
		<h4 class="modal-title">{% trans "Summarize Multiple Comments" %}</h4>
	  </div>
	  <div class="modal-body">
		<table style="width: 100%; height: 100%; table-layout: fixed;">
			<tr><td width="50%" height="100%">
				<div id="summarize_multiple_comment_text"></div>
				<div id="summarize_multiple_comment_box"></div>
		   </td>
		   <td width="50%" height="100%">
					{% trans "Summary:" %}
				<span class="wordcount"></span>
				<textarea class="summary-editor" id="summarize_multiple_comment_textarea" required placeholder="The commenters..."></textarea>
			</td>
			</tr>
		</table>
	</div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
  </form>

  </div>
</div>

<div id="evaluate_summary_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<form class="modal-content" action="/rate_summary" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Evaluate Summary</h4>
	  </div>
	  <div class="modal-body" style="min-height: 200px;">
	  	<div id="evaluate_text"></div>
	  	<div id="evaluate_summary_box"></div>
	  		  	<BR>
	  	Neutrality:<BR>
	  	
		<div id="neutral_rating"></div>
		Current status: <span id="neutral_score" class="score">None</span><BR>
		<BR>
	  	Accuracy/Representativeness:<BR>
	  	
		<div id="coverage_rating"></div>
		Current status: <span id="coverage_score" class="score">None</span><BR>
		
		<BR>
	  	Writing Quality:<BR>
		<div id="quality_rating"></div>
		Current status: <span id="quality_score" class="score">None</span><BR>
	</div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
  </form>

  </div>
</div>