{% load i18n %}
<span id="article_id" style="display:none;">{{ article.id }}</span>
<span id="article_url" style="display:none;">{{ article.url }}</span>
<span id="csrf" style="display:none;">{{ csrf_token }}</span>
<span id="highlight_authors" style="display:none;">{{ article.highlight_authors }}</span>


	<label class="progress-label"><span>0</span>% {% trans "of this page summarized" %} 
		<progress value="20" max="100"></progress>
	</label>

<div id="author_info"></div>
<div id="viz" class="freeze">
	<!-- Circle node view -->
	{% if user == article.owner or article.access_mode == 0 or article.access_mode == 1 or permission and permission.access_level == 0 or permission and permission.access_level == 1 %}
		<button type="button" class="btn btn-default" data-toggle="modal" data-backdrop="false"
		data-target="#new_node_modal_box" id="create_new">{% trans "+" %}</button>
	{% endif %}

	<!-- Outline view -->
	<div id="outline"></div>
</div>
<div id="box" class="freeze"></div>

<div id="expand" style="display: none;"></div>

<div id="hide_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{% trans "Hide Comment" %}</h4>
	  </div>
	  <div class="modal-body">
		<div id="hide_comment_text"></div>
		<div id="hide_comment_box" class="resizable"></div>
		<BR>
		<P>{% trans "Leave a note as to why this comment should be hidden (optional):" %}<BR>
			<textarea id="hide_comment_textarea"></textarea>
		</P>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" id="hide_comment_submit">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
	</div>

  </div>
</div>

<div id="tag_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<form class="modal-content" action="/tag_comment" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{% trans "Tag Comment" %}</h4>
	  </div>
	  <div class="modal-body">
		<div id="tag_comment_text"></div>
		<div id="tag_comment_box"></div>
		<div id="tag_comment_dropdown"></div>

	  </div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
  </form>

  </div>
</div>

<div id="reply_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<form class="modal-content" action="/reply" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{% trans "Reply" %}</h4>
	  </div>
	  <div class="modal-body">
		<div id="reply_comment_text"></div>
		<div id="reply_comment_box"></div>
		<BR>
		<P>{% trans "Reply:" %}
			<span class="wordcount"></span>
			<textarea contenteditable="true" class="reply-editor" id="reply_comment_textarea" required placeholder="These are my thoughts..."></textarea>
		</P>
	  </div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
  </form>

  </div>
</div>

<div id="new_node_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<form class="modal-content" action="/new_node" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{% trans "New Comment" %}</h4>
	  </div>
	  <div class="modal-body">
		<P>{% trans "Add a comment:" %}<BR>
			<textarea required id="new_node_textarea"></textarea>
		</P>
	  </div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
	</form>

  </div>
</div>

<div id="summarize_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<form novalidate class="modal-content" action="/summarize_comment" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div id="summarize_highlight_button"></div>
		<h4 class="modal-title">{% trans "Summarize Comments" %}</h4>
	  </div>
	  <div class="modal-body">
		<div id="summarize_comment_text"></div>
		<div id="summarize_comment_box" class="resizable"></div>
		<BR>
		<P>{% trans "Summary:" %}
			<span class="wordcount"></span>
			<span id="empty_warning_single" class="empty_warning"></span>
			<textarea class="summary-editor" id="summarize_comment_textarea" required placeholder="This commenter..."></textarea>
		</P>
	  </div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
  </form>

  </div>
</div>

<div class="modal fade" id="confirm_delete_modal_box" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this summary?
            </div>
            <div class="modal-footer">
				<button type="submit" class="btn btn-danger btn-ok">{% trans "Delete" %}</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
			  </div>
        </div>
    </div>
</div>

<div id="summarize_multiple_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 100%; height: 100%; margin: 0px;">

	<!-- Modal content-->
	<form novalidate class="modal-content" action="/summarize_selected" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div id="summarize_multiple_highlight_button"></div>
		<h4 class="modal-title">{% trans "Summarize Multiple Comments" %}</h4>
	  </div>
	  <div class="modal-body">
		<table style="width: 100%; height: 100%; table-layout: fixed;">
			<tr><td width="50%" height="100%">
				<div id="summarize_multiple_comment_text"></div>
				<div id="summarize_multiple_comment_box" class="resizable"></div>
		   </td>
		   <td width="50%" height="100%">
					{% trans "Summary:" %}
				<span class="wordcount"></span>
				<span id="empty_warning_multiple" class="empty_warning"></span>
				<textarea class="summary-editor" id="summarize_multiple_comment_textarea" required placeholder="The commenters..."></textarea>
			</td>
			</tr>
		</table>
	</div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
  </form>

  </div>
</div>

<div id="permission_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Edit Permissions</h4>
	  </div>
	  <div class="modal-body">
		<strong>Global Permissions: </strong>
		
		<div class="btn-group">
		  <button type="button" id="global-perm-dropdown" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    {% if article.access_mode == 0 %}
		    	Publicly Editable and Commentable
		    {% elif article.access_mode == 1 %}
		    	Publicly Commentable
		    {% elif article.access_mode == 2 %}
		    	Publicly Editable
		    {% elif article.access_mode == 3 %}
		    	Publicly Viewable
		    {% else %}
		    	Private Access
		    {% endif %}
		    
		     <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" id="global_perm">
		    <li><a href="#">Publicly Editable and Commentable</a></li>
		    <li><a href="#">Publicly Commentable</a></li>
		    <li><a href="#">Publicly Editable</a></li>
		    <li><a href="#">Publicly Viewable</a></li>
		    <li><a href="#">Private Access</a></li>
		  </ul>
		</div>

<!-- 		<div class=public-edit-perms>
				{% if article.access_mode == 1 %}
				Allow users to:
					<input type="checkbox" name="perms" value="comment" id="global-perm-comment" checked> Comment
					<input type="checkbox" name="perms" value="summarize" id="global-perm-summarize"> Edit
				{% elif article.access_mode == 2 %}
				Allow users to:
					<input type="checkbox" name="perms" value="comment" id="global-perm-comment"> Comment
					<input type="checkbox" name="perms" value="summarize" id="global-perm-summarize" checked> Edit
				{% else %}
				Allow users to:
					<input type="checkbox" name="perms" value="comment" id="global-perm-comment" checked> Comment
					<input type="checkbox" name="perms" value="summarize" id="global-perm-summarize" checked> Edit
				{% endif %}
		</div> -->
		
		<BR>
			<BR>
				<strong>User Permissions:</strong> <BR>
					
					<div id="username_typeahead" style="display: inline-block;"></div>
				
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					   		Set Permission Level
					     <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu permission-menu">
					    <li><a href="#">Full Edit and Comment Access</a></li>
					    <li><a href="#">Comment Access</a></li>
					    <li><a href="#">Edit Access</a></li>
					    <li><a href="#">View Access</a></li>
					  </ul>
					</div>
					
					<button id="add_user_perm" type="button" class="btn btn-default btn-success">Add</button>
					<BR>
					<BR>
						
					Existing User Permissions:
					<table id="user_perm_table">
						<tr><td></td><td></td><td></td><td></td></tr>
						{% for perm in all_perms %}
							<tr>
								<td>{{ perm.user.username }}</td>
								<td>
									<div class="btn-group">
										  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										   		{% if perm.access_level == 0 %}
										   			Full Edit and Comment Access
										   		{% elif perm.access_level == 1 %}
										   			Comment Access
										   		{% elif perm.access_level == 2 %}
										   			Edit Access
										   		{% elif perm.access_level == 3 %}
										   			View Access	
										   		{% endif %}
										     <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu permission-menu">
										    <li><a href="#">Full Edit and Comment Access</a></li>
										    <li><a href="#">Comment Access</a></li>
										    <li><a href="#">Edit Access</a></li>
										    <li><a href="#">View Access</a></li>
										  </ul>
										</div>
								</td>
								<td>
									<button type="button" class="btn btn-default btn-xs btn-success update_user_perm">Update</button>
								</td>
								<td>
									<button type="button" class="btn btn-default btn-xs btn-danger delete_user_perm">Delete</button>
								</td>
							</tr>
						
						{% endfor %}
					</table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
	</div>

  </div>
</div>

<div id="evaluate_summary_modal_box" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 100%; height: 100%; margin: 0px;">

	<!-- Modal content-->
	<form class="modal-content" action="/rate_summary" method="POST">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Evaluate Summary</h4>
	  </div>

	  <div class="modal-body">
	  	<table style="width: 100%; height: 100%; table-layout: fixed;">
	  		<tr><td width="50%" height="100%">
		  		<div id="evaluate_summary_box"></div>
		  	</td>
		  	
		  	<td width="50%" height="100%">
		  		<div id="evaluate_text"></div>
		  		Neutrality: <span id="neutral_score" class="score">None</span> <BR>
				<div id="neutral_rating"></div>
				<BR>
			  	Accuracy/Representativeness: <span id="coverage_score" class="score">None</span><BR>
			  	
				<div id="coverage_rating"></div>
				
				<BR>
			  	Writing Quality: <span id="quality_score" class="score">None</span><BR>
				<div id="quality_rating"></div>
				<div id="summarized_children"></div>
			</td></tr>
		</table>
	</div>

	  <div class="modal-footer">
		<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	  </div>
  </form>

  </div>
</div>
