{% extends 'website/base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/accounts.css" %}>
{% endblock %}

{% block content %}

     <section id="contact" class="container content-section text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	
				 <h1>{% trans "Delete Account" %}</h1>
				    
				    <p>{% trans "If you go ahead and delete your account, your information will be" %} <b>{% trans "expunged within" %} {{ ACCOUNT_DELETION_EXPUNGE_HOURS }} {% trans "hours" %}</b>.</p>
				    
				    <form method="post" action="{% url "account_delete" %}" autocapitalize="off">
				        {% csrf_token %}
				        <button type="submit" class="btn btn-danger">{% trans "Delete My Account" %}
								</button>
				    </form>


	           </div>
	         </div>
	      </section>


{% endblock %}


{% block scripts %}

{% endblock %}
