{% extends 'website/base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/accounts.css" %}>
{% endblock %}

{% block content %}

     <section id="contact" class="container content-section text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	
		 	<h1>{% trans "Confirm your email address" %}</h1>
		    
			<p>{% trans "We have sent you an email to" %} <b>{{ email }}</b> 
				{% trans "for verification. Follow the link provided to finalize the signup process. If you do not receive it within a few minutes, contact us at " %}
				<a href="mailto: wikum_mit@mit.edu">wikum_mit@mit.edu</a>.</p>
		    <p><a href="{{ success_url }}">{% trans "Go back" %}</a></p>
				
		
	           </div>
	         </div>
	      </section>


{% endblock %}


{% block scripts %}

{% endblock %}
