{% extends 'website/base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/accounts.css" %}>
{% endblock %}

{% block content %}

     <section id="contact" class="container content-section text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	
				<h1>{% trans "Email confirmed" %}</h1>
			    <p>{% trans "You have confirmed " %}<b>{{ confirmation.email_address.email }}</b></p>
			

	           </div>
	         </div>
	      </section>


{% endblock %}


{% block scripts %}

{% endblock %}
