{% extends 'website/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/accounts.css" %}>
{% endblock %}

{% block content %}

     <section id="contact" class="container content-section text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	
	            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
	                <legend>{% trans "Log in to an existing account" %}</legend>
	                {% csrf_token %}
	                
	                {{ form }}
	                {% if redirect_field_value %}
	                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	                {% endif %}
	                <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
	                <a href="{% url "account_password_reset" %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>
	            </form>
	            {% if ACCOUNT_OPEN_SIGNUP %}
	                <p class="login-signup">
	                    <small>
								{% trans "Don't have an account?" %}<strong><a href="/account/signup">{% trans "Sign up" %}</a></strong>
	                    </small>
	                </p>
	            {% endif %}
	           </div>
	         </div>
	      </section>


{% endblock %}


{% block scripts %}

{% endblock %}