{% extends 'website/base.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/accounts.css" %}>
{% endblock %}

{% block content %}

     <section id="contact" class="container content-section text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	
				<form method="POST" action="{% url "account_logout" %}">
	                <legend><h1>Log Out</h1></legend>
	                <fieldset>
	                    {% csrf_token %}
	                    <p>Are you sure you want to log out?</p>
	                    <button type="submit" class="btn btn-link">Log out</button>
	                </fieldset>
	            </form>

	           </div>
	         </div>
	      </section>


{% endblock %}


{% block scripts %}

{% endblock %}
