{% extends 'website/base.html' %}
{% load staticfiles %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/accounts.css" %}>
{% endblock %}

{% block content %}

     <section id="contact" class="container content-section text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	
	 			<form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
	                <legend>Set your new password</legend>
	                <fieldset>
	                    {% csrf_token %}
	                    {{ form }}
	                    <button type="submit" class="btn btn-primary">Save</button>
	                </fieldset>
	            </form>
    
	           </div>
	         </div>
	      </section>


{% endblock %}


{% block scripts %}

{% endblock %}