{% extends 'website/base.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/accounts.css" %}>
{% endblock %}

{% block content %}

     <section id="contact" class="container content-section text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	

			 <h1>Bad token</h1>
			    {% url "account_password_reset" as url %}
			    <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.</p>

    
	           </div>
	         </div>
	      </section>


{% endblock %}


{% block scripts %}

{% endblock %}
