{% extends 'website/base.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href={% static "website/css/accounts.css" %}>
{% endblock %}

{% block content %}

     <section id="contact" class="container content-section text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	
	<h1>Password reset sent</h1>
    {% if not resend %}
        <p>We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:wikum_mit@mit.edu">wikum_mit@mit.edu</a>.</p>
        
        <div class="row">
            <div class="col-md-5">
                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn btn-link">Resend</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:wikum_mit@mit.edu">wikum_mit@mit.edu</a>.</p>
    {% endif %}
    
    
	           </div>
	         </div>
	      </section>


{% endblock %}


{% block scripts %}

{% endblock %}
