
footer p {
	font-size: 10px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

h1 > a {
	color: inherit;
}

.wordcount {
	float: right;
}

.wordcount.invalid {
	color: #e00;
	font-weight: bold;
}

.original_comment p:not(.highlight) {
	filter: blur(1em);
	-webkit-filter: blur(.3em);
	transition: .4s;
	transition-property: -webkit-filter, filter;
}
