p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;

}

body {
    overflow: auto;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}

html,
body {
    height: 100%;
}

.time_created {
    padding-right: 5px;
    font-size: 11px;
}

#chart, #header, #footer {
    position: absolute;
    top: 0;
}

#header, #footer {
    z-index: 1;
    display: block;
    font-size: 36px;
    font-weight: 300;
    text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
    color: #fff;
    text-shadow: 0 1px 4px #000;
}

#header {
    top: 80px;
    left: 140px;
    width: 1000px;
}

#footer {
    top: 680px;
    right: 140px;
    text-align: right;
}

rect {
    fill: none;
    pointer-events: all;
}

pre {
    font-size: 12px;
}

line {
    stroke: #000;
    stroke-width: 1.5px;
}

.string, .regexp {
    color: #f39;
}

.keyword {
    color: #00c;
}

.comment {
    color: #777;
    font-style: oblique;
}

.number {
    color: #369;
}

.class, .special {
    color: #1181B8;
}

a:hover {
    color: #666;
}

.hint {
    position: absolute;
    right: 0;
    width: 1280px;
    font-size: 12px;
    color: #999;
}


.node circle {
    cursor: pointer;
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
}

#new_node {
    position: absolute;
    top: 120px;
    left: 70px;
    width: 20px;
    height: 20px;
    display: flex;
}

#create_new{
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    border-radius: 15px;
    position: absolute;
    top: 115px;
    left: 70px;
}

#new_comment:hover{
    cursor: pointer;
}

#new_node_textarea {
    height: 100px;
    max-height: 100px;
    overflow-y: scroll;
}

.freeze {
    pointer-events: none;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    pointer-events: none;
    background: #FFFFEF;
    width: 400px;
    height: 135px;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    position: absolute;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
}

div.tooltipTail {
    position: absolute;
    left:-7px;
    top: 72px;
    width: 7px;
    height: 13px;
    background: url("../images/tail_white.png") 50% 0%;
}

div.toolTipBody {
    position:absolute;
    height:100px;
    width:230px;
}

div.header {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    color:#666;
    text-align:center;

}

div.header-rule{
    height:1px;
    margin:1px auto 3px;
    margin-top:7px;
    margin-bottom:7px;
    background:#ddd;
    width:125px;
}

div.header1{
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    margin-bottom: 2px;
    color:#333;
    text-align:center;
}

div.header2{
    color:#000;
    /*   text-transform:uppercase;*/
    font-size: 11px;
    text-align:center;
    font-style:italic;
}

div.header3 {
    text-align: left;
    font-size: 11px;
    /*  width:170px;*/
    text-align:center;
}

div.header4 {
    /*  position:absolute;*/
    text-align:center;
    right:10px;
    top:28px;
    font-size: 16px;
    /*  width:100px;*/
    text-align:center;
    overflow:hidden;
    font-weight:bold;
}

/* Navigation */
.bp-navBar {
    border-top: solid 1px #DDD;
    padding: 15px 0 0;
    margin: 0 10px;
    z-index: 100;
    position: absolute;
    width: 950px;
}


.bp-navigation {

}
.bp-navigation li {
    color: #999;
    font-size: 14px;
    cursor: pointer;
    float: left;
    padding: 10px 18px;
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    border-left: solid 1px #CCC;
    background: #f9f9f9;
    margin: 0 0;
}

.bp-navigation li:first-of-type{
    border-radius: 4px 0 0 4px;
}
.bp-navigation li:last-of-type{

    border-right: solid 1px #CCC;
    border-radius: 0 4px 4px 0;
}
.bp-navigation li.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}

.bp-navigation li.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}

div.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
    padding-bottom:10px;
}

#title_info {
    position: fixed;
    width: calc(100vw - 600px);
    left: 600px;
    top: 100px;
    display: block;
}

    #title_info h1 {
        margin-bottom: .2em;
        font-size: 150%;
        text-transform: none;
        font-weight: normal;
    }

.btn-xs {
    padding: 1px 3px;
    font-size: 12px;
}

.btn-default.btn-default[disabled] {
    cursor: not-allowed;
    border-color: transparent;
    background: #aaa;
    color: white;
}

ul, ol {
    line-height: 1em;
}

textarea {
    font-size: 12px;
    min-height: 50px;
}

.tinymce-content p {
    padding: 0;
    margin: 2px 0;
}

#box {
    margin: 0 0 0 200px;
}

#box a {
    word-break: break-all;
}

#box {
    padding-top: 15px;
    position: fixed;
    max-height: calc(100vh - 80px);
    margin: 80px 15px 15px 550px;
    overflow: auto;
    min-width: 45%;
    max-width: calc(100vw - 550px);
    overflow-x: scroll;
    z-index: 100;
}

#viz {
    float: left;
    height: calc(100vh - 100px);
    margin: 100px 0px 0px 0px;
    width: 500px;
    overflow: auto;
    padding-top: 15px;
    overflow-x: hidden;
}

#outline {
    margin-bottom: 20px;
    margin-left: 100px;
    max-width: 500px;
    overflow-x: hidden;
}

#outline-text-viewAll .article-full {
    visibility: hidden;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#outline-text-viewAll:hover .article-full {
  visibility: visible;
}

#outline .list-group {
    display: flex;
    flex-direction: column;
}

#outline .list-countainer {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: max-content;
}

#outline .list-group-line {
    background-color: #BEBEBE;
    width: 2px;
    max-width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

#outline .list-group-line.line-hover {
    background-color: black;
}

#outline .list-group-line.outline-selected {
    background-color: black;
}


#outline .list-group-item {
    border: none;
    /* border-left: 1px solid #BEBEBE; */
    padding: 10px 10px 0px 15px;
    background-color: transparent;
}

#outline .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#outline .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#outline .list-group {
    margin: 0;
}

#outline .list-group-item {
    display: flex;
    flex-direction: column;
}

#outline .outline-item {
    align-items: center;
    display: flex;
    font-size: 12px;
}

#outline .marker {
    margin-left: -3.7px;
    margin-right: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

#outline .marker.highlight {
    background-color: #ffd700;
}

#outline .marker:hover {
    cursor: pointer;
    border: 1.5px solid black;
}

#outline .marker.outline-hover {
    border: 1.5px solid black;
}

#outline .marker.outline-selected {
    border: 1.5px solid black;
}

#outline .m-unsum_comment {
    background-color: rgb(161, 197, 209);
}

#outline .m-sum_comment {
    background-color: rgb(248, 200, 153);
}

#outline .m-highlighted {
    background-color: #FFCC11;
}

#outline .m-gray {
    background-color: #D3D3D3;
}

#outline .m-hidden {
    background-color: #990000;
}

#outline .m-summary {
    background-color: rgb(238, 118, 0);
    border-radius: 0;
}

#outline .m-summary_partial {
    background: linear-gradient(-45deg, rgb(161, 197, 209), rgb(161, 197, 209) 50%, white 50%, white 50%, rgb(238, 118, 0) 50%);
    border-radius: 0;
}

#outline #viewAll {
    padding-left: 5px;
}

#outline .outline-title:hover {
    cursor: pointer;
}

#outline-text-viewAll {
    width: 100%;
    overflow-wrap: break-word;
}

#outline .comment-unread {
    font-weight: bold;
}

#outline .outline-text:hover {
    cursor: pointer;
    background-color: #D3D3D3;
}

#outline .outline-text.outline-hover {
    cursor: pointer;
    background-color: #D3D3D3;
}

.outline-item #down-arrow {
    font-size: 10px;
    padding-left: 5px;
}

.outline-item #down-arrow:hover {
    cursor: pointer;
}

text {
    cursor: pointer;
}

#expand {
    position: absolute;
    display: block;
    font-size: 12px;
    padding: 2px;
    background: rgba(255,255,255,0.8);
    border: 1px #cccccc solid;
    text-align: right;
    z-index: 1000;
}

a {
    cursor: pointer;
}

.clicked {
    stroke: #000000;
    stroke-width: 3px;
}

rect.selection {
    stroke          : gray;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

.id_val {
    position: absolute;
    top: 2px;
    right: 0.5em;
    color: gray;
}

#summarized_children {
    margin-top: 15px;
}

#summarized_id_list {
    max-height: 100px;
    overflow-y: scroll;
    border: 1px gray solid;
}

.comment_text {
    margin-top: 10px;
}

#reply_comment_textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#reply_comment_body {
    width: 390px;
}

#reply-comment-form {
    width: 400px;
}

.comment_box,
.reply_comment_comment {
    position: relative;
    background-color: hsl(195, 59%, 96%);
    margin-bottom: 10px;
    padding: 1.2em;
    padding-bottom: .2em;
    border: 1px hsl(195, 59%, 85%) solid;
    --link-color: hsl(195, 59%, 60%);
}

/*.comment_box::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.comment_box::before {
  right: 100%;
}*/

.reply_comment_comment a {
        mix-blend-mode: multiply;
        font-weight: 400;
        /*color: var(--link-color);*/
    }

.comment_box,
.summarize_comment_comment {
    position: relative;
    background-color: hsl(195, 59%, 96%);
    margin-bottom: 10px;
    padding: 1.2em;
    padding-bottom: .2em;
    border: 1px hsl(195, 59%, 85%) solid;
    --link-color: hsl(195, 59%, 60%);
}

    .comment_box h1 {
        font-size: 100%;
        margin-bottom: 10px;
    }

    .comment_box a,
    .summarize_comment_comment a {
        mix-blend-mode: multiply;
        font-weight: 400;
        /*color: var(--link-color);*/
    }

    .comment_box a.disabled {
        color: hsl(207, 0%, 71%);
        pointer-events: none;
        cursor: default;
    }

    .comment_box footer {
        padding: 0;
        margin: -.2em -1.2em;
        transition-duration: 3s;
        /*background: var(--background);
        --background: hsl(195, 59%, 90%);*/
        white-space: normal;
    }
        .comment_box footer a.disabled {
            padding: .2em .5em;
            color: hsl(207, 0%, 71%);
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
            pointer-events: none;
            cursor: default;
        }

        .comment_box footer a {
            padding: .2em .5em;
            color: var(--link-color);
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
        }

        .comment_box footer a:hover {
            color: hsla(0,0%,100%,.9);
            background: var(--link-color);
        }

.summarize_comment_comment {
    font-size: 12px;
    display: block;
}

    .summarize_comment_comment > p {
        padding-bottom: 15px;
    }

.summarized.summarize_comment_comment {
    background-color: hsl(50, 100%, 95%);
    border: 1px solid hsl(40, 100%, 75%);
    --link-color: hsl(45, 100%, 46%);
}
    .summarized.summarize_comment_comment footer{
        /*--background: hsl(45, 100%, 83%);*/
    }

.reply_comment_comment {
    font-size: 12px;
    display: block;
}

    .reply_comment_comment > p {
        padding-bottom: 15px;
    }

.summary_box {
    background-color: hsl(30, 100%, 97%) !important;
    border: 1px solid hsla(30, 100%, 50%, .7);
    white-space: pre-wrap;
    --link-color: hsl(30, 100%, 55%);
}

    .summary_box footer {
        /*--background: hsl(30, 100%, 86%);*/
    }

.unsummarized.collapsed {
    background-color: hsl(195, 59%, 96%);
    margin-bottom: 10px;
    padding: 1.2em;
    padding-bottom: .2em;
    border: 1px hsl(195, 59%, 85%) solid;
    --link-color: hsl(195, 59%, 60%);
}

    .unsummarized.collapsed.comment_box footer {
        padding: 0;
        margin: -.2em -1.2em;
        /*background: var(--background);
        --background: hsl(195, 59%, 90%);*/
        white-space: normal;
    }

        .unsummarized.collapsed.comment_box footer a {
            padding: .2em .5em;
            color: var(--link-color);
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
        }

        .unsummarized.collapsed.comment_box footer a:hover {
            color: hsla(0,0%,100%,.9);
            background: var(--link-color);
        }

.collapsed {
    background-color: hsl(50, 100%, 95%);
    border-color: hsl(40, 100%, 75%);
    --link-color: hsl(45, 100%, 46%);
}

    .collapsed footer {
       /* --background: hsl(45, 100%, 83%);*/
    }

.collapsed.summary{
    box-shadow:
    inset 4px -2px 10px 1px hsla(30, 100%, 40%, .8);
    position: relative;
}

.summary{
    box-shadow:
    inset 4px -2px 10px 1px hsla(195, 59%, 25%, .8);
    position: relative;
}

.hiddennode,
.hiddennode.collapsed,
.hiddennode.unsummarized.collapsed {
    background-color: hsl(0, 59%, 95%);
    border: 1px #990000 solid;
    margin-bottom: 10px;
    padding: 1.2em;
    padding-bottom: .2em;
    --link-color: #990000;
}
    .hiddennode h1,
    .hiddennode.collapsed h1,
    .hiddennode.unsummarized.collapsed h1 {
        font-size: 100%;
        margin-bottom: 10px;
    }

        .hiddennode footer,
        .hiddennode.collapsed footer,
        .hiddennode.unsummarized.collapsed footer{
            padding: 0;
            margin: -.2em -1.2em;
            /*background: var(--background);
            --background: hsl(0, 59%, 90%);*/
            white-space: normal;
        }

        .hiddennode footer a,
        .hiddennode.collapsed footer a,
        .hiddennode.unsummarized.collapsed footer a {
            padding: .2em .5em;
            color: var(--link-color);
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
        }

        .hiddennode footer a:hover,
        .hiddennode.collapsed footer a:hover,
        .hiddennode.unsummarized.collapsed footer a:hover {
            color: hsla(0,0%,100%,.9);
            background: var(--link-color);
        }

.highlighted.summary{
    border: 1.8px #000000 solid;
}

.highlighted.unsummarized.collapsed{
    border: 1px #000000 solid;
}

.highlighted {
    border: 1px #000000 solid;
}

.level1 {
    margin-left: 50px;
}

.level2 {
    margin-left: 100px;
}

.level3 {
    margin-left: 150px;
}

blockquote {
    font-size: 12px;
    border-left: 5px solid var(--link-color);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0px;
}

hr {
    border-top: 1px solid #000000;
    margin-top: 5px;
    margin-bottom: 0px;
}

textarea {
    width: 100%;
}


#hide_comment_box, #tag_comment_box {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
}

#tag_comment_box {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px #000000 solid;
}

#summarize_comment_box {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    position: relative;
}

#reply_comment_box {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    position: relative;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px #000000 solid;
}

.hide_comment_comment, .tag_comment_comment {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #eef7fa;
}

.score {
    font-style: italic;
}

.flags {
    position: relative;
    display: block;
    left: -3px;
}

.green-flag {
    color: green;
    border: 1px solid green;
    display: inline-block;
    padding: 1px 8px 0px 0px;
    font-size: 12px;
}

.red-flag {
    color: red;
    border: 1px solid red;
    display: inline-block;
    padding: 1px 8px 0px 0px;
    font-size: 12px;
}

.tag_comment, .hide_comment {
    background-color: #eef7fa;
}

.resizable {
    width: 580px;
    height: 282px;
}

.trash {
    width: 20px;
    height: 20px;
}

#tooltip_sum {
    position: absolute;
    display: block;
    width: 50px;
    height: 20px;
    padding-left: 4px;
    padding-right: 3px;
    background-color: #000000;
    color: #ffffff;
    display: none;
    cursor: pointer;
}

#tooltip_sum2 {
    position: relative;
    display: block;
    width: 50px;
    height: 20px;
    padding-left: 4px;
    padding-right: 3px;
    background-color: #000000;
    color: #ffffff;
    visibility: hidden;
    cursor: pointer;
}

select {
    margin: 5px;
}

#button_subtree {
    position: absolute;
    display: block;
    top: 80px;
    left: 200px;
    font-size: 12px;
}

.input-sm {
    height: 25px;
    line-height: 1.2;
}

input[type=checkbox] {
    margin: 5px;
}

#unsummarized_textbox {
    width:50px;
}

#mark_unsummarized {
    margin: 5px;
}

#count_result {
    font-size: 12px;
}

.highlight { 
    background-color: yellow;
    display: inline;
}

.btn-sub-reply {
    color: hsl(195, 59%, 30%);
    background-color: hsl(195, 59%, 80%);
    border-color: hsl(195, 59%, 80%);
    margin: 2px;
}

.btn-sub-edit {
    color: hsl(30, 100%, 30%);;
    background-color: hsl(30, 100%, 80%);
    border-color: hsl(30, 100%, 80%);
    margin: 2px;
}


a.btn-edit {
    background-color: var(--link-color);
    color: white;
    padding: .2em .4em;
}

    a.btn-edit:hover {
        background: black;
    }

.ghostCircle.show{
  display:block;
}

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

#summarize_multiple_modal_box {
    width: 70%;
    height: 80%;
}

#summarize_multiple_comment_textarea {
    width: 100%;
    min-height: 250px;
    resize: vertical;
}

#evaluate_summary_modal_box{
    width: 70%;
    height: 80%;
}

#evaluate_summary_box {
    height: 350px;
    overflow-y: scroll;
    border: 1px #000000 solid;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    resize: vertical;
}

#summarize_multiple_comment_box {
    padding: 5px;
    width: 450px;
    height: 260px;
    overflow-y: scroll;
}

td {
    padding: 10px;
    vertical-align: top;
}

.extra_summary {
    display: none;
}

#summarize_comment_submit, #summarize_multiple_comment_submit {
    background-color: #42dca3;
    color: #000000;
}

#summarize_comment_submit:hover, #summarize_multiple_comment_submit:hover {
    background-color: #42dca3;
    color: #ffffff;
}

.button-checkbox {
    float: right;
}

#summarize_multiple_highlight_button, #summarize_highlight_button  {
    margin-right: 50px;
}

#tag-form {
    width: 300px;
}

.progress-bar {
    color: #000000;
}

.summary-editor:invalid {
    background: rgba(255, 0, 0, .1);
}

.progress-label {
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 1031;
    padding: 0 .5em;
    line-height: 1.5;
    font-size: 80%;
    font-weight: bold;
}

progress {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 100%;
    z-index: -1;

    height: 1.5em;
    border: none;
    background: hsla(30, 100%, 50%, .2);
    --bar-background: hsla(30, 100%, 50%, .7);
}

progress::-webkit-progress-bar { background: inherit; }
progress::-webkit-progress-value { background: var(--bar-background); }
progress::-moz-progress-bar { background: var(--bar-background); }
progress::-ms-fill { background: var(--bar-background); }

.btn-yellow {
    border: 0px;
    color: #000000;
    background-color: yellow;
}

.btn-yellow {
    border: 0px;
    color: #000000;
    background-color: yellow;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
}

.btn-highlight {
    border: 0px;
    color: #000000;
    background-color: transparent;
}

.btn-highlight:hover {
    border: 0px;
    color: #00000;
    background-color: yellow;
}

.btn-default[type=submit] {
    background-color: #42dca3;
    color: #000000;
}

#hide_comment_submit {
    background-color: #42dca3;
    color: #000000;
}

form.modal-content {
    box-shadow: none;
}

.modal[role="dialog"] {
    overflow: visible;
    -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,.5));
    filter: drop-shadow(0 5px 15px rgba(0,0,0,.5));
}

.thumbs{
   height: 16px;
}

#controldiv {
    position: fixed;
    left: 8px;
    top: 145px;
    z-index: 1000;
}

#controldiv .btn-xs {
    font-size: 11px;
    max-width: 85px;
    margin: 3px;
}

#paginate {
    display: flex;
    flex-direction: column;
}

.tags {
    font-size: 12px;
    padding-top: 10px;
}

.editors {
    position:relative;
    font-size: 10px;
}

.author {
    display: inline;
    cursor: pointer;
}

#author_info {
    display: none;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 10;
    padding: 5px;
}

.ui-resizable {
    background-color: #ffffff;
}
