
footer p {
	font-size: 10px;
}


.progress-bar {
	color: #000000;
}

.first-row-item {
	text-align: left;
	background: white;
    padding: 0px;
    vertical-align: middle;
    cursor: default;
    height: 30px;
    margin: 8px;
    border: #ffffff 1px solid;
}

.first-blurb {
	position: relative;
    padding-left: 20px;
    width: 100%;
    display: inline-block;
	top: 15px; 
	font-size:10px; 
	text-transform: uppercase; 
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.percent {
	position: relative;
	display: inline-block;
	width: 50px;
	margin-right: 20px;
	top: -6px;
}

.summary_num {
	display: inline-block;
	width: 40px;
	padding-left: 10px;
	padding-right: 20px;
}

.comment_num {
	display: inline-block;
	width: 40px;
	padding-right: 10px;
	text-align: right;
}


.right-side {
	float: right;
	position: relative;
	display: inline-block;
	width: 120px;
}

.source {
	position: relative;
	width: 120px;
	display: inline-block;
	margin-right: 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.updated {
    position: relative;
    width: 130px;
    display: inline-block;
    margin-right: 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.owner {
	position: relative;
	width: 80px;
	display: inline-block;
	margin-right: 20px;
	top: -9px;
}

.blurb {
	position: relative;
	top: -33px;
	padding-left: 20px;
	width: 100%;
	display: inline-block;
}

progress {
	width: 100%;

	height: 28px;
	border: none;
	background: #fafafa;
    --bar-background: #d9f8ec;
}

progress::-webkit-progress-bar { background: inherit; }
progress::-webkit-progress-value { background: var(--bar-background); }
progress::-moz-progress-bar { background: var(--bar-background); }
progress::-ms-fill { background: var(--bar-background); }

.navbar-toggle {
	border: 1px solid #ffffff;
}

.navbar .fa {
	color: #ffffff;
}

.ellipsis {
    display: inline-block;
    white-space: nowrap;
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
}


#post-list-table {
	list-style-type: none;
}

#post-list-table .row-item{
	background: white;
	text-align: left;
	padding: 0px;
    vertical-align: middle;
    
	cursor: default;
	height: 30px;
	margin: 8px;
	border: #ffffff 1px solid;
}

#post-list-table .row-item:hover {
	cursor: hand;
	cursor: pointer;
	border: #42dca3 1px solid;
}

#post-list-table .row-item.selected {
	border: #42dca3 1px solid;
}

#post-list-table {
	padding: 0px;
}

#post-list-table a {
	text-decoration: none;
	color: #000000;
}

/*
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
*/

h1 > a {
	color: inherit;
}

.wordcount {
	float: right;
}

.wordcount.invalid {
	color: #e00;
	font-weight: bold;
}

.empty_warning {
	float: right;
	color: #e00;
	font-weight: bold;
	font-size: 11px;
}
/*
.original_comment p:not(.highlight) {
	filter: blur(1em);
	-webkit-filter: blur(.3em);
	transition: .4s;
	transition-property: -webkit-filter, filter;
}
*/

ul.gallery {
    margin: 2px;
    padding: 2px;
    display: block;
}

li.gallerybox {
    vertical-align: top;
    display: -moz-inline-box;
    display: inline-block;
}

div.thumb {
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 2px;
}

div.gallerytext {
    overflow: hidden;
    font-size: 94%;
    padding: 2px 4px;
    word-wrap: break-word;
}

ul.mw-gallery-packed-hover, ul.mw-gallery-packed-overlay, ul.mw-gallery-packed {
    text-align: center;
}

