

.comment {
	border: 1px #000000 solid;
	display: block;
	width: 400px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	font-size: 10px;
	text-align: left;
}

.comment-rep1 {
	margin-left: 100px;
}

.comment-rep2 {
	margin-left: 200px;
}

.comment-rep3 {
	margin-left: 300px;
}

.comment-rep4 {
	margin-left: 400px;
}

.comment-rep5 {
	margin-left: 500px;
}

.comment-rep6 {
	margin-left: 600px;
}

p, blockquote {
	text-align: left;
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
}

