#second_summary {
  position: fixed;
  top: 100px;
  z-index: 100;
  width: 98%;
  padding: 5px;
  height: 50px;
  background-color: #ffffff;
  display: none;
  border: 1px #000000 solid;
}

#third_summary {
  position: fixed;
  top: 150px;
  z-index: 100;
  width: 98%;
  padding: 5px;
  height: 50px;
  background-color: #ffffff;
  display: none;
  border: 1px #000000 solid;
}